section.team
    .container
        .team-wrapper
            h2.sub-title Наша команда
            .sub-title__desc Руководители, юристы и специалисты по военному праву из Повесток.Нет помогают выпускать полезные материалы для призывников:  являются соавторами в блоге, снимаются в видеороликах для Youtube и рассказывают о своей работе с призывниками в юридической практике.
        .team-choise__city
            .team-choise__top
                .team-choise__text Выберите город
                .team-choise__icon
                    +icon('arrow-down')
            .team-choise__block
                .team-choise__bottom
                    .team-city__elem Санкт-Петербург
                    .team-city__elem Москва
                    .team-city__elem Новосибирск
                    .team-city__elem Казань
                    .team-city__elem Нижний Новгород
                    .team-city__elem Челябинск
                    .team-city__elem Омск
                    .team-city__elem Ростов-На-Дону
        .team-choise__chosen
        .team-chosen__container
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город
            a.team-chosen__employer(href="/")
                img(src="/static/img/general/img5.png" alt="Картинка")
                .team-employer__name Лилия Махмутова
                .team-employer__job финансовый директор
                .team-employer__city
                    +icon('location')
                    span Город