.site-reviews__wrapper
  display flex
  justify-content space-between
  background-color #949CA0
  border-radius 23px
  padding 35px 42px
.s-review__title
  font-family 'Montserrat',sans-serif
  color #fff
  font-size 28px
  font-weight 700
  width 30%
.s-review__list
  display flex
  align-items center
  gap 28px
.s-review__item
  display flex
  flex-direction column
  background-color #fff
  border-radius 21px
  padding 12px
.s-review__item-top
  display flex
  align-items center
  justify-content space-between
  margin-bottom 9px
  .icon
    size(55px,22px)
    margin-right 19px
.s-item__top
  display flex
  align-items center
  .icon
    size(19px)
    fill #FFA800
    margin-right 4px
  span
    font-size 16px
    color #FFA800
    font-weight 600
.s-review__item-bottom
  font-size 13px
  color #9F9F9F