.index-wrapper
  position relative
  background-color #E7E7E7
  border-radius 23px
  padding: 77px 580px 100px 36px;
  overflow hidden
  .sub-title-2
    padding-bottom 15px
    font-size 36px
    color #3D3C3C
    letter-spacing -0.03em
    span
      color #E0202B
  .sub-title__desc
    font-size 20px
    margin-bottom 36px
    letter-spacing -0.01em
.index-baner__img
  position: absolute;
  width: 39%;
  bottom: 0;
  right: 72px;
.index-offers
  display grid
  grid-template-columns: repeat(2, 1fr);
  gap 20px 18px
  width 80%
  margin-bottom 30px