.packages-wrapper
  background-color #E7E7E7
  padding 60px 35px
  border-radius 23px
  .sub-title-2
    padding-bottom 45px
.packages__articles
  display grid
  grid-template-columns: repeat(2, 1fr);
  gap 28px
  .see-article__title
    font-size 24px
    color #3D3C3C
  .see-article__desc
    font-size 18px
    color #9F9F9F