section.reviews-employer
    .container
        .slider-container
            .b-articles__title
                .b-articles__subtitle Соавтор в статьях:
                span 4
            .sub-title__desc-mobile С полным каталогом отзывов можно ознакомиться на бесплатной первичной встрече с юристом.
            .slider-navigation
                .emplo-button-prev
                    +icon('arrow-left')
                .emplo-button-next
                    +icon('arrow-right')
        .reviews-wrapper.reviews-wrapper__more
            .swiper.emplo-slider
                ul.swiper-wrapper
                    a.b-articles__item.swiper-slide(href="/")
                        .b-articles__author
                            img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                            .b-articles__name Фенис Карама
                        .b-articles__title Осенний призыв 2023: сроки проведения и начало
                        .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.b-articles__item.swiper-slide(href="/")
                        .b-articles__author
                            img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                            .b-articles__name Фенис Карама
                        .b-articles__title Осенний призыв 2023: сроки проведения и начало
                        .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.b-articles__item.swiper-slide(href="/")
                        .b-articles__author
                            img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                            .b-articles__name Фенис Карама
                        .b-articles__title Осенний призыв 2023: сроки проведения и начало
                        .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.b-articles__item.swiper-slide(href="/")
                        .b-articles__author
                            img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                            .b-articles__name Фенис Карама
                        .b-articles__title Осенний призыв 2023: сроки проведения и начало
                        .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
            .button-3.min-w-429.employer-load-reviews Загрузить еще
