section.employer
    .container
        .employer-wrapper
            .employer-block
                .employer-left
                    img.article-widget__img(src="/static/img/general/img5.png" alt="Картинка")
                    .article-widget__name Азат Мингалеев
                    .article-widget__job старший юрист
                    .team-employer__city
                        +icon('location')
                        span Санкт-Петербург
                    .contacts-messengers
                        a.contacts-mess.telegra-share(href="/")
                            +icon('telegram')
                        a.contacts-mess.youtube-share(href="/")
                            +icon('youtube')
                        a.contacts-mess.vk-share(href="/")
                            +icon('vk')
                    .button-2 Записаться на консультацию
                    .button-whatsapp
                        span Написать в WhatsApp
                        .article-widget__whatsapp
                            +icon('whatsapp')
                .employer-right
                    h2.sub-title-2 Основная информация
                    .sub-title-4 Образование
                    .sub-title__desc Санкт-Петербургский юридический институт Университета Прокуратуры Российской Федерации, выпуск 2020
                    .employer-right__sert
                        .sub-title-4 Дипломы и сертификаты
                        .employer-sert__pictures
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img1.png")
                                img(src="static/img/general/img1.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img2.png")
                                img(src="static/img/general/img2.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img3.png")
                                img(src="static/img/general/img3.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img4.png")
                                img(src="static/img/general/img4.png" alt="Картинка")
                    .employer-right__sert
                        .sub-title-4 Фотографии
                        .employer-sert__pictures
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img1.png")
                                img(src="static/img/general/img1.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img2.png")
                                img(src="static/img/general/img2.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img3.png")
                                img(src="static/img/general/img3.png" alt="Картинка")
                            a.employer-sert__picture(data-fancybox="gallery" href="static/img/general/img4.png")
                                img(src="static/img/general/img4.png" alt="Картинка")
            .employer-info
                .sub-title-4 О себе
                .sub-title__desc Темой моей дипломной работы была следующая: «Механизмы защиты прав военнослужащих». Я успешно её защитил и получил диплом магистра по направлению «Юриспруденция».
                    br
                    br
                    | Теперь я работаю в компании «Повесток.Нет» и занимаюсь оказанием помощи призывникам. Одна из моих обязанностей в компании – сопровождение граждан в военкоматы. Я считаю, что в хорошей юридической компании должны не только предоставлять правовую защиту, но и обеспечивать своим клиентам максимальный комфорт, поддерживать их, предоставлять качественный сервис.
                    br
                    br
                    | Занимаюсь помощью призывникам в области военного права. Моими главными обязанностями в компании являются: оказание качественной юридической помощи, сопровождение граждан в военкоматах, предоставление наилучшего сервиса юридических услуг.