.popup-calculation.popup#popup-stoimost
    .popup__wrapper.max-w-1336
        .popup-close
            +icon('close2')
        .popup-content
            .sub-title Рассчитать стоимость
            .input-main__block.min-w-50
                label Ваш город
                .input-select
                    .input-select__placeholder Выберите город
                    .input-select__arrow
                        +icon('arrow-down')
                .input-select__list
                    .input-select__item Абакан
                    .input-select__item Армавир
                    .input-select__item Москва
                    .input-select__item Санкт-Питербург
            .input-main__block
                label Выберите тариф
                .input-rarif__flex
                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag самый экономичный
                                .t-item__name БАЗОВЫЙ
                            .radio
                        .t-item__list
                            .t-item__par
                                +icon('ok')
                                span Очные консультации юриста
                            .t-item__par
                                +icon('ok')
                                span Личное сопровождение юриста на призывных мероприятиях
                            .t-item__par
                                +icon('ok')
                                span Защита от силового призыва
                            .t-item__par
                                +icon2('minus-square1')
                                span Представительство в суде
                            .t-item__par
                                +icon2('minus-square1')
                                span Приоритет при получении любых консультаций
                            .t-item__par
                                +icon2('minus-square1')
                                span Работу с вами ведёт главный юрист компании Ирина Усманова
                            .t-item__par
                                +icon2('minus-square1')
                                span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                            .t-item__par
                                +icon2('minus-square1')
                                span Выделенный канал связи 24/7
                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag Выбирают 85% наших клиентов
                                .t-item__name ОПТИМАЛЬНЫЙ
                            .radio
                        .t-item__list
                            .t-item__par
                                +icon('ok')
                                span Очные консультации юриста
                            .t-item__par
                                +icon('ok')
                                span Личное сопровождение юриста на призывных мероприятиях
                            .t-item__par
                                +icon('ok')
                                span Защита от силового призыва
                            .t-item__par
                                +icon('ok')
                                span Представительство в суде
                            .t-item__par
                                +icon2('minus-square2')
                                span Приоритет при получении любых консультаций
                            .t-item__par
                                +icon2('minus-square1')
                                span Работу с вами ведёт главный юрист компании Ирина Усманова
                            .t-item__par
                                +icon2('minus-square1')
                                span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                            .t-item__par
                                +icon2('minus-square2')
                                span Выделенный канал связи 24/7
                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag для самых требовательных
                                .t-item__name VIP
                            .radio
                        .t-item__list
                            .t-item__par
                                +icon('ok')
                                span Очные консультации юриста
                            .t-item__par
                                +icon('ok')
                                span Личное сопровождение юриста на призывных мероприятиях
                            .t-item__par
                                +icon('ok')
                                span Защита от силового призыва
                            .t-item__par
                                +icon('ok')
                                span Представительство в суде
                            .t-item__par
                                +icon('ok')
                                span Приоритет при получении любых консультаций
                            .t-item__par
                                +icon('ok')
                                span Работу с вами ведёт главный юрист компании Ирина Усманова
                            .t-item__par
                                +icon('ok')
                                span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                            .t-item__par
                                +icon('ok')
                                span Выделенный канал связи 24/7
            .input-main__block
                label Выберите тариф
                .input-rarif__flex.variants-pay
                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag Выгоднее всего
                                .t-item__name-small Единоразовая оплата
                            .radio

                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag без участия банков
                                .t-item__name-small Рассрочка от компании
                            .radio
                        .t-item__mounths
                            .t-item__mounth 3 мес
                            .t-item__mounth 4 мес
                            .t-item__mounth 6 мес

                    .tarif-advantages__item.tarif-input-check
                        .t-item__top
                            .t-item__top-text
                                .t-item__tag минимальный платеж
                                .t-item__name-small Рассрочка от Тинькофф
                            .radio
                        .t-item__mounths
                            .t-item__mounth 12 мес
                            .t-item__mounth 18 мес
                            .t-item__mounth 24 мес
            .modal-stock-block
                .m-stock__top
                    .m-stock__name Акция
                    .m-stock__desc скидка для студентов
                .m-stock__bottom
                    .radio
                    .m-stock__radio Я являюсь студентом с действующей отсрочкой до июля 2024 года
            .input-main__block.modal-price-block
                label Стомость услуги
                .m-price__company
                    .m-price__block
                        .t-item__tag экономия 3 000 ₽
                        .m-price__flex
                            .m-price__now 90 900 ₽
                            .m-price__old 93 900 ₽
                    .button-2.m-price__button Обратиться в компанию
            .modal-confidence-block
                .m-confidence__item
                    +icon2('ok3')
                    span 1680 призывников уже получили билет с нашей помощью
                .m-confidence__item
                    +icon2('shield3')
                    span Не храним данных о содержании консультаций
                .m-confidence__item
                    +icon2('lock')
                    span Ваши данные под надежной защитой
                .m-confidence__item
                    +icon2('ok3')
                    span 94% клиентов довольны услугами







