.popup-calculation.popup#popup-callback
    .popup__wrapper.max-w-450
        .popup-content
            .popup-callback-block
                .article-mobile__title Ответим на все ваши вопросы
                .article-mobile__desc Проконсультируем по всем вопросам призыва на срочную службу
                form.f-question__form
                    input.input-class(type="tel" placeholder="+7 (___) ___-__-__" data-mask="+7 (000) 000-00-00")
                    button.button-2.min-w-318 Оставить заявку
                .f-question__attention Отправляя заявку вы соглашаетесь с
                    a(href="/")=" политикой обработки персональных данных."