.popup-calculation.popup#popup-stoimost
    .popup__wrapper.max-w-1336
        .popup-close
            +icon('close2')
        .popup-content
            .sub-title Рассчитать стоимость
            .input-main__block.min-w-50
                label Ваш город
                .input-select
                    .input-select__placeholder Выберите город
                    .input-select__arrow
                        +icon('arrow-down')
                .input-select__list
                    .input-select__item Абакан
                    .input-select__item Армавир
                    .input-select__item Москва
                    .input-select__item Санкт-Питербург





