.popup-calculation.popup#popup-share
    .popup__wrapper.max-w-450
        .popup-content
            .popup-share-block
                .p-share__title Поделиться
                .p-share__social
                    .p-share__item.telegra-share
                        +icon('telegram')
                    .p-share__item.vk-share
                        +icon('vk')
                    .p-share__item.whatsapp-share
                        +icon('whatsapp')
                    .p-share__item.dot-share
                        +icon('dots')
                .p-share__copy.copy-link(data-href)
                    span Скопировать ссылку
                    +icon('copy')