section.service-prizyv
    .container
        .sub-title Услуги призывникам
        .sub-title__desc Помогаем молодым людям призывного возраста реализовать свое право на освобождение от службы в армии в соответствии со статьей 23 Федерального закона от 28.03.1998 N 53-ФЗ "О воинской обязанности и военной службе".
        .button-2.min-w-318 Обратится в компанию