.standart
  padding-top 0
.standart-content
  padding-right 30%
  strong
    margin-right 5px
  h1,h2,h3,h4,h5,h6
    font-family 'Montserrat',sans-serif
    font-weight 700
    margin-bottom 30px
  h1
    font-size 36px
  h2
    font-size 32px
  h3
    font-size 28px
  h4
    font-size 24px
  h5
    font-size 20px
  h6
    font-size 16px