.h-top-left__location
  display flex
  align-items center
  margin-right 72px
  cursor pointer
  position relative
  .icon
    size(24px)
    margin-right 10px
    fill #fff
  .icon-arrow-down
    size(18px)
    margin-right 0
  span
    margin-right 10px
    color #fff
    font-weight 400
    font-size 18px
.header-top
  background-color #1F232A
  padding 10px 0
.header-top__container
  display flex
  align-items center
  justify-content space-between
.header-top__left
  display flex
  align-items center
  position relative
.h-top-left__consulting
  display flex
  align-items center
.consulting-count
  color #fff
  font-family 'Montserrat',sans-serif
  font-size 24px
  font-weight 700
  background-color #E0202B
  border-radius 37px
  padding 0 20px
  height 32px
  line-height 1.3
  margin-right 15px
.consulting-text
  font-size 18px
  color #fff
  font-weight 600
  text-transform uppercase
.header-top__right
  display flex
  align-items center
.h-top-right__button
  display flex
  align-items center
  margin-right 73px
  cursor pointer
  &:last-child
    margin-right 0
  span
    color #fff
    font-size 18px
  .icon
    size(30px)
    fill transparent
    stroke #fff
    margin-right 8px
  .icon-sale
    stroke-width 1.3
.header-bottom__container
  display flex
  align-items center
  flex-direction column
.header-bottom__contacts
  display flex
  align-items center
  justify-content space-between
  width 100%
.h-contacts
  display flex
  align-items center
.h-social__link
  display flex
  justify-content center
  align-items center
  border-radius 50%
  background-color #f5f5f5
  size(28px)
  padding 5px
  margin-right 10px
  &:last-child
    margin-right 0
  .icon
    size(16px)
    fill #fff
.h-social__links
  display flex
  align-items center
.h-phone
  margin-right 70px
  outline none
  line-height 1.2
  span
    color #405575
    font-size 13px
.h-phone__text
  font-size 18px
  font-weight 600
  font-family 'Montserrat',sans-serif

.h-telegram
  background-color #3DB6F1
.h-whatsapp
  background-color #71BF44
.h-vk
  background-color #07689F
.h-logo
  height 54px
  .icon
    width 400px
    height 100%
  .icon-logo2
    width max-content
.header-bottom__contacts
  padding 20px 0
.h-social__block
  line-height 1.2
  span
    color #405575
    font-size 13px
.header-bottom__menu
  width 100%
  padding-bottom 28px
.h-navigation
  display flex
  justify-content space-between
  align-items center
.h-navbar
  display flex
  align-items center
ul.h-menu__list
  display flex
  align-items center
  li
    margin-right 20px
    &:last-child
      margin-right 0
    a,.h-item__link
      font-family 'Montserrat',sans-serif
      font-size 18px
      color #1F232A
      font-weight 600
      text-transform uppercase
      transition ease .3s
      cursor pointer
      &:hover
        color #E0202B
.h-search
  display flex
  justify-content center
  align-items center
  size(48px)
  background-color #F6F6F6
  border-radius 50%
  cursor pointer
  transition ease .3s
  .icon
    fill transparent
    size(19px)
    stroke #3D3D3D
    stroke-width 1.5
    transition ease .3s
  &:hover
    background-color #E0202B
    .icon
      stroke #fff

.h-menu
  margin-right 24px
.h-callback
  display flex
  align-items center
  border 2px solid #98A8B4
  height 48px
  border-radius 39px
  padding 15px 23px
  cursor pointer
  transition ease .3s
  min-width 231px
  position relative
  span
    font-family 'Montserrat',sans-serif
    font-size 15px
    font-weight 500
    transition ease .3s
  .icon
    size(21px)
    fill transparent
    stroke #292929
    stroke-width 1.5
    margin-right 23px
    transition ease .3s
  &:hover
    border 2px solid #E0202B
    .icon
      stroke #E0202B
    span
      color #E0202B
.h-top-left__loc-menu
  display none
  position absolute
  left 0
  right 0
  top 67px
  background-color #F5F5F5
  padding 8px 50px
  border-radius 14px
  width 100%
  max-width 554px
  z-index 2
.header-top__left.active
  .h-top-left__location
    .icon-arrow-down
      transform rotate(-180deg)
.h-tllm__item
  font-family 'Montserrat',sans-serif
  font-size 16px
  color #3D3C3C
  font-weight 400
  margin-bottom 11px
  cursor pointer
  transition ease .2s
  &:hover
    color #E0202B
.h-tllm__select
  display flex
  align-items center
  justify-content space-between
  padding 15px 0
  border-bottom 1px solid #C6C6C6
  margin-bottom 30px
  cursor pointer
  .icon
    size(14px)
    fill #3D3C3C
  span
    font-weight 500
    font-family 'Montserrat',sans-serif
    font-size 18px
.h-top-left__loc-list
  overflow-y scroll
  max-height 424px
  &::-webkit-scrollbar
    width 0
.header-bottom__contacts-fixed
  display flex
  width 100%
  position fixed
  top 0
  left 0
  right 0
  background-color #fff
  transform translateY(-100%)
  transition ease .2s
  z-index 10
.header-bottom__contacts-fixed.active
  transform translateY(0)
.h-menu__item-depth2
  display flex
  flex-direction column
.h-menu__item-depth2__wrap
  display none
  position absolute
  top 36px
  z-index 10
.h-menu__item
  position relative
.h-item__item-depth2
  margin-bottom 12px
  white-space nowrap
  color #8189A0 !important
  &:hover
    color #e0202b !important
.header-nav-menu__bar
  display none
  position absolute
  top 222px
  width 100%
  background-color #fff
  z-index 9
.header-nav-menu__bar.active
  display block
header
  position relative
.h-nav__item-top
  .icon
    size(59px,22px)
  .icon-star2
    size(31px)
    fill #FFEC70
    margin-right 5px
.h-nav__rating-item
  display flex
  flex-direction column
  width 180px
  height 75px
  border 1px solid #BFCEFF
  border-radius 23px
  padding 12px
.h-nav__rating
  display grid
  grid-template-columns repeat(2,0fr)
  justify-content end
  padding 45px 0
  gap 18px
.h-nav__item-top
  display flex
  align-items center
  justify-content space-between
  margin-bottom 5px
  span
    font-family 'Montserrat',sans-serif
    font-size 16px
    color #FFA800
.h-nav__item-bottom
  font-size 13px
  color #1C274C







