section.error-404
   .container
       .error-wrapper
           .error-text Ошибка
           .error-404-text 404
           .error-desc Страница не найдена
       .error-articles
           a.see-article(href="/")
               .see-article__text
                   .see-article__title БЛОГ
                   .see-article__desc Читайте статьи экспертов Повесток.Нет по военному праву
               .see-article__link
                   +icon('arrow-right')
           a.see-article(href="/")
               .see-article__text
                   .see-article__title ЗАКОНЫ
                   .see-article__desc Наши услуги включают в себя личное юридическое сопровождение
               .see-article__link
                   +icon('arrow-right')
           a.see-article(href="/")
               .see-article__text
                   .see-article__title ПРАКТИКА
                   .see-article__desc Юридическая практика компании при работе с призывниками и военнослужащими
               .see-article__link
                   +icon('arrow-right')
           a.see-article(href="/")
               .see-article__text
                   .see-article__title ТЕСТ
                   .see-article__desc 19 вопросов, которые помогут разобраться в своей годности к службе в армии
               .see-article__link
                   +icon('arrow-right')