section.see-also
    .container
        .see-also__wrapper
            .see-also__container
                .see-also__left
                    .sub-title Еще больше интересного о Повесток.Нет
                .see-also__articles
                    .see-article
                        .see-article__text
                            .see-article__title Блог
                            .see-article__desc Читайте статьи экспертов Повесток.Нет по военному праву
                        a.see-article__link(href="/")
                            +icon('arrow-right')
                    .see-article
                        .see-article__text
                            .see-article__title ВИДЕО
                            .see-article__desc Полезная информация для призывников, советы юристов и развлекательный контент
                        a.see-article__link(href="/")
                            +icon('arrow-right')

