section.packages
    .container
        .packages-wrapper
            .packages__left
                h2.sub-title Наши пакеты услуг
            .packages__articles
                a.see-article(href="/")
                    .see-article__text
                        .see-article__title ПРИЗЫВНИКАМ
                        .see-article__desc Чем компания может помочь призывникам: молодым людям от 18 до 30 лет
                    .see-article__link
                        +icon('arrow-right')
                a.see-article(href="/")
                    .see-article__text
                        .see-article__title ВОЕННОСЛУЖАЩИМ
                        .see-article__desc Чем компания может помочь военнослужащим по призыву и контрактникам
                    .see-article__link
                        +icon('arrow-right')
