section.blog.practice-articles__blog
    .container
        .blog-wrapper
            h2.sub-title Юридическая практика
            .sub-title__desc В этом разделе публикуем нашу юридическую практику: интересные случаи с нашими клиентами, в которых мы решаем отдельно взятую задачу. Все клиенты из наших кейсов добились поставленного в начале работы результата.
            .blog-container
                .practice-tabs
                    .practice-tab.active(data-tab="practice-all") Все
                    .practice-tab(data-tab="practice-prizyv") Призывники
                    .practice-tab(data-tab="practice-voenny") Военнослужащие

                .blog-search
                    .b-search__input
                        input(type="text" placeholder="Поиск статьи")
                        .b-search__button
                            +icon('search')

                .blog-articles.practice-articles
                    .b-articles__title.practice-articles__title
                        +icon('fill-arrow')
                        .b-articles__subtitle Кейсов:
                        span 88
                    .b-articles__list
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                    .button-3.min-w-429.blog-articles__load Загрузить еще
