section.article
    .container
        .article-main__wrapper
            .article-main__sidebar
                .article-main__widget
                    img.article-widget__img(src="/static/img/general/img5.png")
                    .article-widget__name Азат Мингалеев
                    .article-widget__job старший юрист
                    .button-whatsapp
                        span Написать в WhatsApp
                        .article-widget__whatsapp
                            +icon('whatsapp')

            .article-main__content.practice-main__content
                .practice-steps
                    .practice-step
                        .practice-step__title Ситуация
                        .practice-step__desc К нам обратилась мама солдата-срочника, который стал жаловаться на постоянную тревожность.
                    .practice-step
                        .practice-step__title Задача
                        .practice-step__desc Разобраться в ситуации и, при наличии заболевания, подтвердить его в военкомате.
                    .practice-step
                        .practice-step__title Результат
                        .practice-step__desc Выяснилось, что рядовой страдает расстройством адаптации, вследствие чего его были вынуждены комиссовать.

                .article-content
                    h2.sub-title-2.pb-16 Процесс
                    p В апреле 2023-го года к нам обратилась мама срочника. Её сын отправился на срочную службу во время предыдущего осеннего призыва. Жалоб на здоровье у молодого человека не было. Ему присвоили категорию годности «А», которая ставится самым здоровым призывникам, и забрали в армию. В итоге парень попал в войска национальной гвардии.
                    .content-img__wrapper
                        img(src="/static/img/general/img6.png")
                        span Призывника забрали в армию, послали в войска и выдали оружие. Вроде бы всё было в порядке.
                    p Сначала у новобранца всё было нормально. Однако, достаточно скоро он начал испытывать очень сильный психологический дискомфорт. Возникла нервозность, появились бессонница и головные боли.
                    p Солдат никак не мог привыкнуть к новым условиям. Через какое-то время рядовой начал ощущать иррациональное беспокойство: он постоянно переживал за себя и за своих близких, ему казалось, что то-то может случиться.
                    p Разумеется, молодой человек был самым обычным солдатом-срочником, и ни в каких боевых действиях участия никогда не принимал. Проблема заключалась не в том, что рядовому действительно грозила какая-то опасность, а в том, что его организм просто не смог адаптироваться к новой среде – в данном случае – к армейской.
                    p Наш юрист написал заявление, в котором потребовал госпитализировать рядового и провести все необходимые обследования. Это требование было исполнено. По результатам обследований оказалось, что молодой человек действительно страдает так называемым расстройством приспособительных реакций (оно же – расстройство адаптации).
                    p Далее рядовой был отправлен на военно-врачебную комиссию. Там диагноз подтвердился. Комиссия была вынуждена присвоить срочнику категорию годности «В». С этой категорией годности срочную службу в армии не служат. Обычно именно она спасает молодого человека от призыва, и именно её получают обычно наши клиенты, взятые в работу.
                    p Поскольку с данной категорией служить нельзя, молодого человека пришлось комиссовать – то есть, отправить домой. Командир помог подготовить все документы, и вскоре бывший рядовой с армией распрощался.
                    .content-img__wrapper
                        img(src="/static/img/general/img6.png")
                        span Здесь видно, что молодой человек был уволен в запас.
                .practice-main-content.see-also__articles
                    h2.sub-title-2 Заказанные услуги
                    .see-article
                        .see-article__text
                            .see-article__title Консультация по призыву
                            .see-article__desc Юридическая консультация для призывников и их родителей по вопросам призыва на военную службу
                        a.see-article__link(href="/")
                            +icon('arrow-right')
                    .see-article
                        .see-article__text
                            .see-article__title
                                .practice-tag__service услуга
                                span Военный билет законно
                            .see-article__desc Юридическая консультация для призывников и их родителей по вопросам призыва на военную службу
                        a.see-article__link(href="/")
                            +icon('arrow-right')





