section.practice-baner
    .container
        .practice-baner__wrapper
            .p-baner__title Успешная комиссация срочника, у которого в армии проявилось расстройство адаптации
            .p-baner__desc В 2020-м году к нам обратился молодой человек по имени Вадим (имя призывника изменено). У клиента было небольшое ожирение. Кроме того, иногда возникали и другие проблемы со здоровьем, в частности, одышка.
            .b-articles__data
                .b-articles__info
                    +icon2('clock2')
                    span 2 мин
                .b-articles__info
                    +icon2('eye')
                    span 83
                .b-articles__info
                    +icon2('calendar-2')
                    span 02.10.2023