section.practice
    .container
        .slider-container
            h2.sub-title-2.pb-0 Кейсы по Призывникам:
            .slider-navigation
                .practice-button-prev
                    +icon('arrow-left')
                .practice-button-next
                    +icon('arrow-right')
        .practice-wrapper
            .swiper.practice-slider
                ul.swiper-wrapper
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__title Успешная комиссация срочника, у которого в армии проявилось расстройство адаптации
                        .b-articles__desc В апреле 2023-го года к нам обратилась мама срочника. Её сын отправился на срочную службу во врем...
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__title Как мы обязали военкомат выдать военный билет
                        .b-articles__desc В апреле 2023-го года к нам обратилась мама срочника. Её сын отправился на срочную службу во врем...
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__title Как мы помогли получить военный билет гипертонику, или почему никогда нельзя опускать руки
                        .b-articles__desc В сентябре 2023-го года успешно получил военный билет один из наших клиентов – призывник из...
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__title Успешная комиссация срочника, у которого в армии проявилось расстройство адаптации
                        .b-articles__desc В апреле 2023-го года к нам обратилась мама срочника. Её сын отправился на срочную службу во врем...