include search
include mobile-menu
include menu-storage
footer
    .container
        .footer-wrapper
            .footer-left
                .footer__data
                    .footer-data__text ИП МАХМУТОВА Л. И.
                    .footer-data__text ОГРН 320169000106291
                    .footer-data__text ИНН 165715099460
                .footer__data Повестокнет® — зарегистрированный товарный знак. Св-во №807524 от 16.04.2021
                .footer__data Информация на сайте не является публичной офертой.
            .footer-right
                a.footer__data(href="/") Политика конфиденциальности
                a.footer__data(href="/") Антикоррупционная политика
                a.footer__data(href="/") Карта сайта

