header
    .header-top
        .container
            .header-top__container
                .header-top__left
                    .h-top-left__location
                        +icon('location')
                        span Москва
                        +icon('arrow-down')
                    .h-top-left__consulting
                        .consulting-count 1196
                        .consulting-text проведенных консультаций

                .header-top__right
                    .h-top-right__button
                        +icon('sale')
                        span Акции
                    .h-top-right__button
                        +icon('inbox')
                        span Тест на годность
    .header-bottom
        .container
            .header-bottom__container
                .header-bottom__contacts
                    a.h-logo(href="/")
                        +icon2('logo')
                        +icon2('logo2')
                    .h-contacts
                        a.h-phone(href='tel:88006003158')
                            .h-phone__text 8-800-600-31-58
                            span Бесплатная консультация
                        .h-social__block
                            .h-social__links
                                a.h-social__link.h-telegram(href="")
                                    +icon('telegram')
                                a.h-social__link.h-whatsapp(href="")
                                    +icon('whatsapp')
                                a.h-social__link.h-vk(href="")
                                    +icon('vk   ')
                            span Напишите нам
                    .h-mobile__contacts
                        a.h-mobile__phone(href="tel:88006003158")
                            +icon2('call')
                        .h-mobile__search.search-button
                            +icon('search')
                .header-bottom__menu
                    .h-navigation
                        .h-navbar
                            nav.h-menu
                                ul.h-menu__list
                                    li.h-menu__item
                                        a.h-item__link(href="/") услуги
                                    li.h-menu__item
                                        a.h-item__link(href="/") практика
                                    li.h-menu__item
                                        a.h-item__link(href="/") база знаний
                                    li.h-menu__item
                                        a.h-item__link(href="/") о компании
                                    li.h-menu__item
                                        a.h-item__link(href="/") отзывы
                                    li.h-menu__item
                                        a.h-item__link(href="/") контакты
                            .h-search
                                +icon('search')
                        .h-callback
                            +icon('callback')
                            span Заказать звонок




