.menu-tab#menu-storage
    .menu-tab__close
        +icon('close2')
    .menu-tab__title База знаний
    .menu-tab__list
        a.menu-tab__item(href="/")
            .menu-item__title
                span Практика
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        a.menu-tab__item(href="/")
            .menu-item__title
                span Статьи
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Читайте статьи экспертов Повесток.Нет по военному праву
        a.menu-tab__item(href="/")
            .menu-item__title
                span Закон о воинской обязанности
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Дескриптор
        a.menu-tab__item(href="/")
            .menu-item__title
                span Расписание болезней
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Изучите все заболевания, дающие основания для освобождения от службы в армии
        a.menu-tab__item(href="/")
            .menu-item__title
                span Видео
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юристы Повесток.Нет снимают советы на актуальные и популярные темы
        a.menu-tab__item(href="/")
            .menu-item__title
                span Тест на годность
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc 19 вопросов, которые помогут разобраться в своей годности к службе в армии

.menu-tab#menu-service
    .menu-tab__close
        +icon('close2')
    .menu-tab__title Наши услуги
    .menu-tab__list
        a.menu-tab__item(href="/")
            .menu-item__title
                span призывникам
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        a.menu-tab__item(href="/")
            .menu-item__title
                span военнослужащим
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Читайте статьи экспертов Повесток.Нет по военному праву
        a.menu-tab__item(href="/")
            .menu-item__title
                span акции
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        .menu-tab__item-stats
            .menu-stats__title Статистика за прошлый месяц
            .menu-stats__block
                .menu-stats__block-count 1196
                span проведенных консультаций
            .menu-stats__block
                .menu-stats__block-count 124
                span выпущенных клиентов
            .menu-stats__block
                .menu-stats__block-count 111
                span взятых в работу клиентов

.menu-tab#menu-svyaz
    .menu-tab__close
        +icon('close2')
    .menu-tab__title Связаться
    .menu-tab__list
        a.menu-tab__item(href="/")
            .menu-item__title.menu-item__social-title
                .menu-item__social
                    .menu-item__social-icon.menu-vk
                        +icon('vk')
                    span Vk мессенджер
                .menu-item__icon
                    +icon('arrow-right')
        a.menu-tab__item(href="/")
            .menu-item__title.menu-item__social-title
                .menu-item__social
                    .menu-item__social-icon.menu-whatsapp
                        +icon('whatsapp')
                    span Whatsapp
                .menu-item__icon
                    +icon('arrow-right')
        a.menu-tab__item(href="/")
            .menu-item__title.menu-item__social-title
                .menu-item__social
                    .menu-item__social-icon.menu-telega
                        +icon('telegram')
                    span Telegram
                .menu-item__icon
                    +icon('arrow-right')
        a.menu-tab__item(href="/")
            .menu-item__title
                span Онлайн-консультация
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        a.menu-tab__item(href="/")
            .menu-item__title
                span Заказать звонок
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Читайте статьи экспертов Повесток.Нет по военному праву
        a.menu-tab__item(href="/")
            .menu-item__title
                span 8-800-600-31-58
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Бесплатная консультация

.menu-tab#menu-more
    .menu-tab__close
        +icon('close2')
    .menu-tab__title Еще
    .menu-tab__list

        a.menu-tab__item(href="/")
            .menu-item__title
                span О компании
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        a.menu-tab__item(href="/")
            .menu-item__title
                span Отзывы
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Читайте статьи экспертов Повесток.Нет по военному праву
        a.menu-tab__item(href="/")
            .menu-item__title
                span контакты
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Юридическая практика компании при работе с призывниками и военнослужащими
        a.menu-tab__item(href="/")
            .menu-item__title
                span Cотрудники
                .menu-item__icon
                    +icon('arrow-right')
            .menu-item__desc Руководители, юристы и специалисты по военному праву...
        .social-networks
            .social-net__title Наши соц. сети
            .social-net__desc Отвечаем на вопросы в социальных сетях, публикуем советы призывникам и рассказываем о своей работе.
            .social-net__links
                a.social-net__item(href="/")
                    img(src="/static/img/general/social/telega.png")
                a.social-net__item(href="/")
                    img(src="/static/img/general/social/youtube.png")
                a.social-net__item(href="/")
                    img(src="/static/img/general/social/vk.png")
                a.social-net__item(href="/")
                    img(src="/static/img/general/social/dzen.png")


