.mobule-menu
    .mobile-menu__list
        .mobile-menu__item
            +icon('folder')
            span База знаний
        .mobile-menu__item
            +icon('service')
            span Услуги
        .mobile-menu__item
            +icon('svyaz')
            span Связаться
        .mobile-menu__item
            +icon('dots')
            span Еще