.mobule-menu
    .mobile-menu__list
        .mobile-menu__item(data-menu="menu-storage")
            +icon('folder')
            span База знаний
        .mobile-menu__item(data-menu="menu-service")
            +icon('service')
            span Услуги
        .mobile-menu__item(data-menu="menu-svyaz")
            +icon('svyaz')
            span Связаться
        .mobile-menu__item(data-menu="menu-more")
            +icon('dots')
            span Еще