.desctop-search
    .container
        .mobile-search__close.search-close
            +icon('close2')
        .mobile-search__block.input-block__js
            input.mobile-input.input-value(placeholder="Поиск по сайту")
            .mobile-input__flex
                .mobile-input__delete
                    +icon2('close')
                .mobile-input__search
                    +icon('search')
        .mobile-serach__results
            .mobile-search__label Результаты поиска (12)
            .mobile-search__result
                .mobile-search__article
                    .search-article__title Зимний призыв в армию: когда он бывает и бывает ли вообще
                    .search-article__tag Статья
                .mobile-search__article
                    .search-article__title По каким причинам не берут в армию в 2023 году?
                    .search-article__tag Практика
                .mobile-search__article
                    .search-article__title Осенний призыв 2022 года. Особенности
                    .search-article__tag Услуга
                .mobile-search__article
                    .search-article__title Зимний призыв в армию: когда он бывает и бывает ли вообще
                    .search-article__tag Закон