.stock-wrapper
    .container
        .stock-container
            .stock-icon1
                +icon2('gerlanda1')
            .stock-icon2
                +icon2('gerlanda2')
            .stock-flex
                .stock-text1
                    +icon('procent')
                    span Новогодние скидки!
                .stock-desc1 еще 3 дня
                .stock-procent__wrap
                    span Скидка 15%
                    span экономия до 25 000 рублей
            .stock-button__wrap
                .stock-button Об акции
                .stock-close
                    +icon('close2')
