.breadcrumbs-list
  display flex
  align-items center
.breadcrumbs-go-back
  display flex
  justify-content center
  align-items center
  background-color #fff
  border-radius 50%
  size(48px)
  cursor pointer
  transition ease .3s
  margin-right 16px
  &:hover
    background-color #E0202B
    .icon
      fill #fff
  .icon
    size(20px)
    fill #E0202B
    transition ease .3s
.breadcrumbs
  padding 20px 0
.breadcrumbs-item
  display flex
  align-items center
  margin-right 24px
  span
    font-size 16px
    transition ease .3s
    &:hover
      color #E0202B