.breadcrumbs-list
  display flex
  align-items center
  overflow-x scroll
  &::-webkit-scrollbar
    height 0
.breadcrumbs-go-back
  display flex
  justify-content center
  align-items center
  background-color #fff
  border-radius 50%
  size(48px)
  cursor pointer
  transition ease .3s
  margin-right 16px
  &:hover
    background-color #E0202B
    .icon
      fill #fff
  .icon
    size(20px)
    fill #E0202B
    transition ease .3s
.breadcrumbs
  padding 20px 0
.breadcrumbs-item
  display flex
  align-items center
  span
    font-size 16px
    transition ease .3s
    white-space pre
    &:hover
      color #E0202B
.breadcrumbs-item
  display flex
  align-items center
  &:after
    content '|'
    display block
    margin 0 12px
    color #9F9F9F

.breadcrumbs-item:last-child
  &:after
    display none