.pb-0
  padding-bottom 0
.input-class
  display flex
  justify-content center
  align-items center
  background-color #fff
  border-radius 14px
  height 52px
  font-size 16px
  padding 16px 24px
  color #000
  border none
  &:placeholder
    color #9F9F9F
.radio
  display flex
  justify-content center
  align-items center
  border-radius 50%
  border 2px solid #686868
  size(24px)
  position relative
  margin-right 8px
  min-width 24px
.radio-flex.active
  .radio
    border 2px solid #3D3C3C
    &:before
      content '';
      size(14px)
      absolute-center()
      background-color #3D3C3C
      border-radius 50%

.radio-flex
  display flex
  align-items center
  margin-right 28px
  cursor pointer
  &:last-child
    margin-right 0
  span
    color #3D3C3C
    font-size 16px
.popup
  opacity 0
  pointer-events none
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 999
  background-color rgba(0, 0, 0, 0.5)
  transition ease .3s
.popup.active
  opacity 1
  pointer-events auto
  overflow-y scroll
  .popup__wrapper
    transform scale(1)
.popup__wrapper
  position relative
  background-color #fff
  border-radius 23px
  padding 50px 70px
  width 100%
  max-width 720px
  margin 0 auto
  margin-top 30px
  margin-bottom 30px
  transform scale(0)
  transition ease .3s
.max-w-1336
  max-width 1336px
.popup-close
  position absolute
  right 30px
  top 30px
  display flex
  justify-content center
  align-items center
  background-color #F2F2F2
  border-radius 50%
  size(60px)
  cursor pointer
  transition ease .2s
  .icon
    size(18px)
    fill #E0202B
  &:active
    box-shadow: 0 0 4px 3px transparent;
  &:hover
    background-color #E0202B
    box-shadow 0 0 4px 3px rgba(0,0,0,0.15)
.input-select
  display flex
  align-items center
  justify-content space-between
  padding 15px 28px
  height 60px
  background-color #F5F5F5
  border-radius 14px
  width 100%
  margin-bottom 10px
  cursor pointer
.input-select__arrow
  .icon
    size(18px)
    fill #3D3C3C
.input-main__block
  position relative
  margin-bottom 50px
  label
    display block
    font-size 24px
    color #1D212C
    font-weight 600
    margin-bottom 30px
.min-w-50
  min-width 50%
  width 50%
.input-select__top
  display flex
.input-select__list
  position absolute
  display none
  background-color #f5f5f5
  width 100%
  border-radius 14px
  padding 20px
  overflow-y scroll
  height auto
  max-height 250px
  z-index 2
  &::-webkit-scrollbar
    width 0
.input-select__item
  font-size 16px
  color #000
  transition ease .2s
  cursor pointer
  font-family 'Montserrat',sans-serif
  font-weight 500
  margin-bottom 20px
  &:hover
    color #E0202B
  &:last-child
    margin-bottom 0
.input-select__placeholder
  font-size 18px
  font-weight 500
  font-family 'Montserrat',sans-serif
  color #3D3C3C
.modal-active
  overflow hidden
// Мобильный поиск
.mobile-search
  display none
  transition ease .3s
  transform translateX(-100%)
  will-change transform
.desctop-search
  display none
  transition ease .3s
  transform translateX(-100%)
  will-change transform
.mobile-search
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  background-color #fff
  z-index 30
  flex-direction column
  padding 52px 15px 15px 15px
.desctop-search
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  background-color #fff
  z-index 30
  flex-direction column
  padding 52px 15px 15px 15px
  .mobile-search__close
    position absolute
    right 20px
    top 39px
  .mobile-input
    border-radius 36px
  .mobile-search__result
    height: calc(100dvh - 182px);
.mobile-search.active
  display flex
  transform translateX(0)
.desctop-search.active
  display flex
  transform translateX(0)
.mobile-search__close
  display flex
  justify-content center
  align-items center
  margin 0 0 0 auto
  size(36px)
  .icon
    size(21px)
    fill #000000
.mobile-search__title
  font-family 'Montserrat',sans-serif
  font-size 20px
  font-weight 700
  text-transform uppercase
  margin 0 auto
  margin-bottom 23px
.mobile-search__block
  display flex
  align-items center
  position relative
  margin-bottom 28px
.mobile-input
  border 1px solid #AAAAAA
  height 50px
  padding 20px
  font-size 15px
  border-radius 8px
  width 100%
.mobile-input__delete
  display none
  justify-content center
  align-items center
  size(21px)
  border 1px solid #9296A6
  border-radius 50%
  margin-right 10px

  .icon
    size(7px)
    fill #9296A6
.mobile-input__search
  .icon
    fill transparent
    stroke #9296A6
    stroke-width 1.5px
    size(21px)
.mobile-input__flex
  display flex
  align-items center
  position absolute
  transform translate(0,-50%)
  right 21px
  top 50%
.mobile-serach__results
  display flex
  flex-direction column
.mobile-search__label
  font-weight 600
  font-size 16px
  color #5F5A5A
  margin-bottom 29px
.mobile-search__article
  padding 20px
  background-color #ECECEC
  border-radius 16px
  margin-bottom 12px
.search-article__title
  font-family 'Montserrat',sans-serif
  font-size 15px
  font-weight 700
  margin-bottom 10px
  color #1C1C1C
.search-article__tag
  padding 4px 12px
  font-size 14px
  color #000000
  background-color #BABABA
  width max-content
  border-radius 10px
.mobile-search__result
  overflow-y scroll
  height: calc(100dvh - 335px);
  &::-webkit-scrollbar
    width 3px
.swiper-pagination
  display none
.swiper-pagination-bullet-active
  background-color #3D3C3C !important
.mobule-menu
  display none
  position: fixed;
  bottom 0;
  left 0
  right 0
  height 78px
  z-index 100
  background-color #fff
  box-shadow: 0px 4px 24px 0px #00000026;
  padding 13px 16px
  user-select none
.mobile-menu__list
  display flex
  align-items center
  justify-content space-around
.mobile-menu__item
  display flex
  flex-direction column
  align-items center
  .icon
    size(31px)
    fill #1C274C
    margin-bottom 5px
    transition ease .3s
  span
    font-family 'Montserrat',sans-serif
    font-size 11px
    font-weight 400
    color #1C274C
    transition ease .3s
.mobile-menu__item.active
  .icon
    fill #375CD9
  span
    color #375CD9
.menu-tab
  display none
  position: fixed;
  bottom 0;
  left 0
  right 0
  top 0
  z-index 11
  background-color #fff
  padding 13px 16px
  transition ease .3s
  transform translateY(100%);
  will-change transform
.overflow-body-hidden
  overflow hidden
.question-m-video__right
  display none
.article-mobile__widget
  display block
  background-color #fff
  padding 42px 36px
  border-radius 35px
  .f-question__form
    flex-direction column
    .input-class
      background-color #F0F0F0
      margin-right 0
      margin-bottom 20px
    .button-2
      min-width 100%
      font-size 16px
      font-weight 400
  .f-question__attention
    font-size 13px
    text-align center
    a
      text-decoration underline !important
.article-content
  .article-mobile__widget
    display none
.article-mobile__title
  font-family 'Montserrat',sans-serif
  font-size 28px
  text-align center
  color #3D3C3C
  font-weight 700
  margin-bottom 18px
.article-mobile__desc
  font-size 18px
  color #9F9F9F
  margin-bottom 32px
  text-align center
.article-content__widget
  margin-bottom 20px
.stock-container
  display flex
  align-items center
  justify-content space-between
  height 87px
.stock-wrapper
  position relative
  overflow hidden
  height 86px
  background: linear-gradient(90.06deg, #14286F -37.29%, #DF6767 110.71%);
.stock-button__wrap
  display flex
  align-items center
.stock-close
  display flex
  justify-content center
  align-items center
  cursor pointer
  size(42px)
  .icon
    size(22px)
    fill #F0F0F0
.stock-icon1
  position absolute
  top -10px
  transform translateX(-40%)
  .icon
    size(170px,101px)
.stock-icon2
  position absolute
  transform translateX(550%)
  top -11px
  .icon
    size(160px,102px)
.stock-text1
  display flex
  align-items center
  background-color #fff
  border-radius 36px
  padding 20px
  height 42px
  width max-content
  margin-left 65px
  z-index 2
  margin-right 16px
  .icon
    size(24px)
    fill #E0202B
    margin-right 4px
  span
    font-size 20px
    font-family 500
    color #E0202B
    font-weight 500
.stock-desc1
  font-weight 700
  font-size 18px
  color #fff
  margin-right 35px
.stock-procent__wrap
  span
    &:nth-child(1)
      font-size 24px
      color #fff
      font-weight 700
      margin-right 10px
      font-family 'Montserrat',sans-serif
    &:nth-child(2)
      font-size 18px
      color #fff
      font-weight 400
.stock-button__wrap
  .stock-button
    display flex
    align-items center
    justify-content center
    background-color #fff
    font-size 18px
    color #E0202B
    border-radius 10px
    width 100%
    min-width 283px
    height 52px
    font-weight 700
    margin-right 23px
    cursor pointer
.stock-flex
  display flex
  align-items center
.service-prizyv
  .sub-title__desc
    padding-right 45%
    margin-bottom 27px
  .button-2
    font-weight 500
    font-size 15px
.task-slider__item
  background-color #fff
  padding 28px
  border-radius 20px
  .icon
    fill transparent
    stroke #232321
    stroke-width 2px
    size(45px)
    margin-bottom 20px
.task-slider__text
  font-size 18px
  font-weight 600
  color #000000
  padding-bottom 40px
  span
    font-weight 700
    color #E0202B
.paketi
  overflow hidden
  .slider-container
    align-items end
.paketi-flex
  display flex
  flex-direction column
  .sub-title-2
    padding-bottom 15px
  .sub-title__desc-mobile
    display block
    padding-right 35%
.paketi-slider__item
  display flex
  flex-direction column
  align-self normal
  background-color #EDEDED
  border-radius 23px
  padding 8px
  img
    width 100%
    height 100%
    object-fit cover
    border-radius 23px
    margin-bottom -200px
    object-position: center -100px;
.paketi-slider__card
  position relative
  z-index 2
  margin-top -50px
  background-color #fff
  border-radius 23px
  padding 29px 16px
  .offer-option
    height 38px
    padding 9px 10px
    span
      font-size 14px
  .offer-price
    font-size 20px
  .offer-credit__discont
    font-size 14px
  .offer-tab
    padding 24px
.paketi-slider__title
  font-family 'Montserrat',sans-serif
  font-size 24px
  color #1D212C
  text-align center
  font-weight 700
  text-transform uppercase
  margin-bottom 13px
.paketi-slider__desc
  text-align center
  font-size 15px
  color #4B4848
  margin-bottom 23px

.fixed-upper-button
  position fixed
  right 30px
  bottom 30px
  border-radius 11px
  padding 10px 16px
  height 50px
  background-color #FFFFFF80
  cursor pointer
  z-index 25
  .icon
    size(32px)
    fill #3D3C3C
    margin-right 10px
  span
    font-family 'Montserrat',sans-serif
    font-size 14px
    color #3D3C3C
.input-rarif__flex
  display flex
  align-items baseline
  gap 28px
  width 100%
  justify-content space-between
  .t-item__list
    background-color #EEEEEE
  .tarif-advantages__item
    cursor pointer
.t-item__top
  display flex
  justify-content space-between
.tarif-input-check
  border 1px solid transparent
  width 100%
.tarif-input-check.active
  border 1px solid #E0202B47
  .radio
    &:before
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #3d3c3c;
      border-radius: 50%;
.t-item__top-text
  display: flex;
  flex-direction: column;
  align-items: baseline;
  .t-item__tag
     background-color #FFF1F1
     color #FF757D
.variants-pay
  .tarif-advantages__item
    background-color #EAEAEA
    padding 16px 19px 23px 30px
    .t-item__tag
      background-color #fff
      margin-left 0
      padding 8px 24px
.t-item__name-small
  font-size 20px
  color #000000
  font-weight 600
.t-item__mounths
  display flex
  align-items center
  column-gap 18px
  row-gap 10px
  margin-top 16px
.t-item__mounth
  text-align center
  background-color #fff
  color #898787
  font-family 'Montserrat',sans-serif
  font-size 15px
  padding 9px 18px
  border-radius 17px
.modal-stock-block
  padding 27px 24px
  background-color #F8F8F8
  border-radius 23px
  cursor pointer
  margin-bottom 44px
.m-stock__top
  display flex
  align-items center
  margin-bottom 12px
.m-stock__name
  font-family 'Montserrat',sans-serif
  font-size 32px
  color #1D212C
  margin-right 29px
  font-weight 700
.m-stock__desc
  font-size 13px
  color #E67A80
  background-color #FFB5B530
  border-radius 17px
  height 32px
  padding 8px 29px
.m-stock__bottom
  display flex
  align-items center
.m-stock__radio
  font-size 18px
.modal-stock-block.active
  .radio
    &:before
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #3d3c3c;
      border-radius: 50%;
.m-price__company
  display flex
  align-items center
.m-price__block
  display flex
  align-items center
  background-color #EAEAEA
  width 100%
  padding 18px 31px
  border-radius 21px
  height 64px
  margin-right 37px
  .t-item__tag
    color #FF6060
    background-color #fff
    padding 8px 35px
    margin-bottom 0
    margin-left 0
.m-price__flex
  display flex
  align-items center
.modal-price-block
  padding 50px 0
  border-top 1px solid #CBCBCB
  border-bottom 1px solid #CBCBCB
.m-price__now
  font-size 28px
  color #1A1A1A
  font-style italic
  font-family 'Montserrat',sans-serif
  margin-right 40px
  font-weight 700
.m-price__old
  font-size 24px
  color #A0A0A0
  font-style italic
  font-family 'Montserrat',sans-serif
  margin-right 40px
  font-weight 700
  text-decoration: line-through
.m-price__button
  min-width 382px
  height 64px
  font-weight 400
.modal-confidence-block
  display flex
  flex-wrap wrap
  column-gap 20px
  row-gap 17px
.m-confidence__item
  display flex
  align-items center
  background-color #F2F2F2
  border-radius 50px
  padding 18px 25px
  width max-content
  .icon
    size(34px)
    margin-right 15px
  span
    font-size 18px
.input-block__js.active
  .input-value
    border 1px solid #969696
.max-w-450
  max-width 450px
  padding 42px 36px
.popup-callback-block
  .f-question__form
    flex-direction column
    .input-class
      margin-right 0
      background-color #F0F0F0
      margin-bottom 20px
    .button-2
      width 100%
  .f-question__attention
    text-align center
    color #9F9F9F
    a
      color #9F9F9F
      text-decoration underline !important
.p-share__social
  display flex
  align-content center
  gap 15px
  margin-bottom 20px
.p-share__item
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EDEDED;
  width: 53px;
  height: 53px;
  padding: 5px;
  margin-right: 10px;
  cursor pointer
  .icon
    fill #fff
    size(30px)
  .dot-share
    .icon
      fill #1C274C
.telegra-share
  background-color #039BE5
.vk-share
  background-color #07689F
.whatsapp-share
  background-color #71BF44
.p-share__copy
  display flex
  align-items center
  justify-content space-between
  border 1px dashed #C2C2C2
  border-radius 17px
  height 57px
  padding 18px 20px
  line-height 1
  cursor pointer
  span
    color #000000
    font-weight 600
    font-family 'Montserrat',sans-serif
    font-size 20px
    margin-right 15px
  .icon
    size(31px)
    fill #1C274C
.p-share__title
  font-family 'Montserrat',sans-serif
  font-size 20px
  font-weight 600
  margin-bottom 20px






