extends ../layout/main

block variables
    - var title = '404'
    - var pageClass = '404-page'

block content
    include 404/section-1
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
