extends ../layout/main

block variables
    - var title = 'О компании'
    - var pageClass = 'about-page'

block content
    include ../modules/breadcrumbs
    include about/section-1
    include about/section-2
    include about/section-3
    include services-other/section-12
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
