extends ../layout/main

block variables
    - var title = 'Статья отдельная'
    - var pageClass = 'article-page'

block content
    include ../modules/breadcrumbs
    include article/section-1
    include article/section-2
    include article/section-3
    include article/section-4
    include index/section-3
    include services-other/section-11
    include article/section-5
    include services-other/section-13
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
