extends ../layout/main

block variables
    - var title = 'Статьи'
    - var pageClass = 'articles-page'

block content
    include ../modules/breadcrumbs
    include articles/section-1
    include articles/section-3
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
