extends ../layout/main

block variables
    - var title = 'Контакты'
    - var pageClass = 'contacts-page'

block content
    include ../modules/breadcrumbs
    include contacts/section-1
    include contacts/section-2
    include contacts/section-3
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
