extends ../layout/main

block variables
    - var title = 'Сотрудники хабовая'
    - var pageClass = 'employees-page'

block content
    include ../modules/breadcrumbs
    include employees/section-1
    include employees/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
