extends ../layout/main

block variables
    - var title = 'Сотрудник'
    - var pageClass = 'employer-page'

block content
    include ../modules/breadcrumbs
    include employer/section-1
    include employer/section-2
    include employer/section-3
    include employer/section-4
    include service-hub/section-3
    include employees/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
