extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block content
    include index/section-1
    include index/section-2
    include index/section-3
    include services-other/section-7
    include services-other/section-8
    include services-other/section-9
    include services-other/section-10
    include index/section-4
    include index/section-5
    include services-other/section-11
    include index/section-6
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16