extends ../layout/main

block variables
    - var title = 'Поздравление с окончанием работы'
    - var pageClass = 'job-over-page'

block content
    include ../modules/breadcrumbs
    include job-over/section-1
    include job-over/section-2
    include job-over/section-3
    include services-other/section-15
    include services-other/section-16
