extends ../layout/main

block variables
    - var title = 'Поздравление с обращением'
    - var pageClass = 'job-over2-page'

block content
    include ../modules/breadcrumbs
    include job-over2/section-1
    include job-over2/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
