extends ../layout/main

block variables
    - var title = 'Практика отдельная'
    - var pageClass = 'practice-page'

block content
    include ../modules/breadcrumbs
    include practice/section-1
    include practice/section-2
    include practice/section-3
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
