extends ../layout/main

block variables
    - var title = 'Практика хабовая'
    - var pageClass = 'practice-hub-page'

block content
    include ../modules/breadcrumbs
    include practice-hub/section-3
    include practice-hub/section-2
    include practice-hub/section-1
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
