extends ../layout/main

block variables
    - var title = 'Вопросы ответы'
    - var pageClass = 'question-page'

block content
    include ../modules/breadcrumbs
    include question/section-1
    include question/section-2
    include question/section-3
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
