extends ../layout/main

block variables
    - var title = 'Отзывы'
    - var pageClass = 'reviews-page'

block content
    include ../modules/breadcrumbs
    include reviews/section-1
    include reviews/section-2
    include reviews/section-3
    include services-other/section-11
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
