extends ../layout/main

block variables
    - var title = 'Закон'
    - var pageClass = 'ruule-page'

block content
    include ../modules/breadcrumbs
    include rule/section-1
    include index/section-4
    include rule/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
