extends ../layout/main

block variables
	- var title = 'Услуги отдельная'
	- var pageClass = 'services-page'

block content
	include ../modules/breadcrumbs
	include services-other/section-1
	include services-other/section-2
	include services-other/section-3
	include services-other/section-4
	include services-other/section-5
	include services-other/section-6
	include services-other/section-7
	include services-other/section-8
	include services-other/section-9
	include services-other/section-10
	include services-other/section-11
	include services-other/section-12
	include services-other/section-13
	include services-other/section-14
	include services-other/section-15
	include services-other/section-16
	include ./../modules/popup/popup-stoimost
