extends ../layout/main

block variables
    - var title = 'Услуги хабовая'
    - var pageClass = 'services-hub-page'

block content
    include ../modules/stock
    include ../modules/breadcrumbs
    include service-hub/section-1
    include service-hub/section-2
    include service-hub/section-3
    include services-other/section-13
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
