extends ../layout/main

block variables
    - var title = 'Акции отдельная'
    - var pageClass = 'stock-sto-page'

block content
    include ../modules/breadcrumbs
    include stock/section-1
    include stock/section-2
    include stock/section-3
    include services-other/section-5
    include employees/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
