extends ../layout/main

block variables
    - var title = 'Тест'
    - var pageClass = 'test-page'

block content
    include ../modules/breadcrumbs
    include test/section-1
    include test/section-2
    include test/section-3
    include services-other/section-11
    include practice-hub/section-2
    include services-other/section-14
    include services-other/section-15
    include services-other/section-16
