// ================================== @media =================================//
.h-mobile__contacts
  display none
.stock-icon3
  display none
@media (min-width: 576px)
  .container
    max-width: 540px;
@media (min-width: 768px)
  .container
    max-width: 720px
@media (min-width: 992px)
  .container
    max-width: 960px;
@media (min-width: 1200px)
  .container
    max-width: 1140px;
@media (min-width: 1400px)
  .container
    max-width 1350px

@media screen and (max-width: 1400px)
  .offer-wrapper
    grid-template-columns: 160px 50% 1fr;
  .sub-title
    font-size 32px
  .confidence-title
    font-size 19px
  .confidence-desc
    font-size 16px
  .index-wrapper
    padding: 77px 300px 100px 36px;
  .b-articles__data
    gap 12px
  .b-articles__info span
    font-size 14px
  .b-articles__info
    padding 10px
    height 35px
    .icon
      size(22px)
  .article-mobile__widget
    padding 16px
  .article-mobile__title
    font-size 20px
  .article-mobile__desc
    font-size 14px
    margin-bottom 20px
  .stock-icon1
    transform: translateX(-14%);
  .stock-procent__wrap
    span
      &:nth-child(2)
        display none
  .stock-icon2
    transform: translateX(404%);
  .popup__wrapper
    max-width 1150px
  .input-rarif__flex
    flex-wrap wrap
    .tarif-advantages__item
      width 48%
  .m-price__now
    margin-right 20px
  .m-price__old
    margin-right 0
  .max-w-450
    max-width 404px
  ul.h-menu__list li a, ul.h-menu__list li .h-item__link
    font-size 13px
  .review-grid
    grid-template-columns repeat(3,1fr)
  .contacts-title
    font-size 16px
  .contacts-desc
    font-size 13px
  .contacts-grid
    grid-template-columns repeat(3,1fr)
  .contacts-block
    &:nth-child(1)
      grid-area: 1 / 1 / 2 / 2;
    &:nth-child(2)
      grid-area: 1 / 2 / 2 / 3;
    &:nth-child(3)
      grid-area: 1 / 3 / 2 / 4;
    &:nth-child(4)
      grid-area: 2 / 1 / 3 / 4;
  .social-block
    flex-direction column
  .social-block__left
    width 80%
    margin-bottom 20px
  .social-block__right
    width 100%
  .team-chosen__employer
    padding 30px
  .employer-left
    .button-2
      width 100%
      white-space nowrap
  //.video-employer__link
  //  font-size 14px
  .video-employer__title
    margin-bottom 15px
  .video-employer__top
    flex-direction column
    align-items start
  .rule-fullwidth__left
    width 35%
  .rule-fullwidth__right
    width 65%

@media (max-width: 1199px)
  .tarif-slider__card
    max-width 100%
  ul.h-menu__list li a
    font-size 14px
  .offer-desc
    font-size 20px
  .offer-tab
    display flex
    flex-direction column
  .tarif-advantages .swiper-wrapper
    display flex
    gap 0
  .confidence-list
    grid-template-columns: repeat(2, 1fr);
  .use-list
    grid-template-columns: repeat(2, 1fr);
  .risk-container
    display flex
    flex-direction column
  .risk-image
    width 100%
  .risk-text
    width 100%
  .faq-wrapper
    padding 35px
  .form-question__wrapper
    display: flex;
    flex-direction column
  .form-question__baner
    position: absolute;
    bottom 146px
  .form-question__container
    width 100%
    z-index: 2;
  .index-baner__img
    display none
  .index-wrapper
    padding 36px
  .site-reviews__wrapper
    flex-direction column
  .s-review__title
    width 100%
  .s-review__title
    margin-bottom 20px
  .together-list
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 40px;
  .article-widget__name
    font-size 20px
  .article-main__widget
    padding 33px 16px
  .article-content
    padding 33px 16px
  .article-content__widget
    padding 16px
  .article-widget__content-title
    font-size 20px
  .practice-slider .b-articles__title
    font-size 16px
  .b-articles__list
    grid-template-columns: repeat(2, 1fr);
  .stock-desc1
    display none
  .stock-icon2
    transform: translateX(298%);
  .popup__wrapper
    max-width 940px
  .m-price__company
    flex-direction column
  .m-price__block
    margin-right 0
    margin-bottom 20px
  .max-w-450
    max-width 404px
  .h-nav__rating
    display none
  .test-app__right
    display none
  .test-app__left,.test-app__right
    width 100%
  .test-app__left .sub-title
    white-space normal
  .test-app__left
    .width-48
      width 100%
    .width-80
      width 100%
  .width-100
    padding-right 35px
  .recommend-test__articles
    grid-template-columns repeat(2,1fr)
  .tab-jcsb
    flex-direction column
    justify-content start
    align-items start
    .test-tag__choisen
      margin-bottom 10px

  .form-question__comment
    .form-question__container
      width 100% !important
  .team-employer__name
    font-size 22px
  .team-employer__job
    font-size 15px
  .team-employer__city
    .icon
      size(23px)
    span
      font-size 15px
  .team-chosen__employer img
    margin-bottom 20px
  .employer-left
    height max-content
  .employer-left
    .button-2
      font-size 13px
    .button-whatsapp
      span
        font-size 13px
        white-space nowrap
  .employer-right
    padding 25px
  .video-employer__list .swiper-wrapper
    gap 0
  .video-employer
    overflow hidden
  .video-employer__top
    flex-direction row
    align-items center
  .video-employer__title
    margin-bottom 0px
  .video-employer
    .button-3
      display flex
  .video-employer__list
    margin-bottom 35px
  .job-over .s-review__title
    width 100%
  .m-menu__item
    font-size 16px
  .rule-content__top-l
    flex-direction column
    align-items start
  .rule-content__top-l__flex
    margin-bottom 6px
  .rule-content__top
    align-items start
  .rule-fullwidht__item
    flex-direction column
  .rule-fullwidth__left
    width 100%;
  .rule-fullwidth__right
    width 100%
  .rule-section__left
    width 35%
  .rule-section__right
    width 65%
  .sto-img
    height calc(100vh - 90px)
    object-fit contain
  .videos .video-employer__list
    grid-template-columns repeat(2,1fr)
  .about-title
    font-size 30px
  .about-desc
    font-size 18px
  .about-data__container
    flex-direction column-reverse
    justify-content center
  .about-basics__list .swiper-wrapper
    grid-template-columns repeat(2,1fr)
  .about-data__container
    padding 20px
  .about-container__left
    margin-right 0
    display flex
    flex-direction column
    justify-content center
    align-items center
  .about-data__container img
    margin 0 auto
  .about-container__text
    text-align center
  .about-data__wrapper
    flex-direction column
  .about-data__left
    width 100%
  .about-data__right
    width 100%
  .about-data__sticky
    margin-bottom 20px
@media screen and (max-width: 992px)
  .header-top
    display none
  .h-logo
    .icon-logo
      display none
    .icon-logo2
      display flex
  .h-callback
    display none
  .h-search
    display none
  .h-mobile__contacts
    display flex
    align-items center
  .h-mobile__phone,.h-mobile__search
    display flex
    justify-content center
    align-items center
    border 1px solid #7B7B7B40
    border-radius 50%
    size(50px)
    margin-right 12px
    &:last-child
      margin-right 0
    .icon
      size(30px)
  .h-mobile__search
    .icon
      fill transparent
      stroke #5C5C5C
  .h-contacts
    display none
  .social-baner__wrapper
    display flex
    flex-direction column
  .s-baner__text
    width 100%
    margin-bottom 39px
  .offer-picture
    display none
  .offer-info
    margin-right 0
  .offer-wrapper
    display flex
  .law-container
    flex-direction column-reverse
  .law-text
    width 100%
  .law-image
    width 50%
    margin 0 auto
  .see-also__container
    display flex
    flex-direction column
  .see-also__articles
    width 100%
  .see-also__left
    width 100%
  .form-question__baner
    display none
  .m-menu__list
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 10px
  .m-app__main
    display flex
    flex-direction column
  .m-main__left
    margin-bottom 30px
  .footer-wrapper
    flex-direction column
  .footer-right
    display flex
    justify-content space-between
    flex-wrap wrap
    flex-direction row
    gap 15px
  .footer-left
    margin-bottom 20px
  .question-video__wrapper
    flex-direction column
  .question-video__left
    width 100%
    margin-bottom 30px
  .question-video__right
    width 100%
  .risk-list
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  .reviews-slider
    margin-bottom 33px
  .mobile-search
    display flex
  .steps-list
    grid-template-columns: repeat(2, 1fr);
  .see-also__wrapper2 .sub-title
    padding-right 0
  .packages__articles
    grid-template-columns: repeat(1, 1fr);
  .index-offers
    width 100%
  .s-review__list
    flex-wrap wrap
  .s-review__title
    text-align center
  section
    padding 16px 0
  .article-wrapper
    flex-direction column
    padding 33px 16px
  .article-info
    padding-right 0
    margin-bottom 20px
  .article-icon
    padding-right 0
    margin 0 auto
    order 3
  .article-share
    position relative
    margin 0 auto
    order 2
    top auto
    margin-bottom 32px
    //transform translate(-50%,-50%)
    //left: 50%;
    //top: 52%;
    right auto
  .article-main__wrapper
    flex-direction column
  .article-main__sidebar
    width 100%
  .article-main__content
    width 100%
  .tar-wrapper
    flex-direction column
  .tar-left
    width 100%
    margin-right 0
    margin-bottom 40px
  .tar-right
    width 100%
  .b-articles__item
    padding 18px
  .article-widget__fixed
    display none
  .article-content
    .article-mobile__widget
      background-color #F1F1F1
      margin 24px 0
      .f-question__form
        .input-class
          background-color #fff
    .article-mobile__title
      font-size 24px
  .b-articles__list
    grid-template-columns: repeat(2, 1fr);
    gap 15px
  .practice-baner__wrapper
    padding 33px
  .stock-wrapper
    display none
  .service-prizyv
    .sub-title__desc
      padding-right 0
  .paketi-slider__card .offer-tab
    padding 10px
  .paketi-flex .sub-title__desc-mobile
    padding-right 10%
  .popup__wrapper
    max-width 710px
    padding 30px
  .input-rarif__flex
    .tarif-advantages__item
      width 100%
  .min-w-50
    width 100%
  .max-w-450
    max-width 404px
  .header-nav-menu__bar
    top: 143px;
  .review-grid
    grid-template-columns repeat(2,1fr)
  .reviews-section .sub-title__desc
    padding-right 0
  .test-app__result-block
    flex-direction column
  .test-app__result-right
    width 100%
    margin-bottom 20px
  .test-over__buttons
    margin-bottom 30px
  .recommend-test__article-title
    font-size 18px
  .recommend-test__article-desc
    font-size 13px
  .recommend-test__tab
    height 27px
    font-size 13px
  .recommend-test__article
    padding 20px
  .form-question__comment
    .input-class
      margin-right 0
      margin-bottom 15px
    .f-question__form
      flex-direction column
  .team-chosen__container
    grid-template-columns repeat(2,1fr)
  .team-wrapper .sub-title__desc
    width 100%
  .team-choise__city
    width 100%
  .team-choise__chosen
    margin-bottom 20px
  .employer-block
    flex-direction column
  .employer-left
    width 100%
    .button-2
      font-size 15px
    .button-whatsapp
      span
        font-size 15px
  .employer-right
    width 100%
  .employer-info
    padding 25px
  .video-employer__title
    font-size 12px
  .video-employer__link
    font-size 12px
  .video-employer__desc
    font-size 20px
  .questions-consult
    .index-wrapper
      padding 30px
  .rule-content__item
    padding 20px
  .rule-content__bottom-l
    flex-direction column
    align-items start
  .rule-time__container
    flex-direction column
  .rule-time__left
    width 100%
  .rule-time__right
    width 100%
    padding 50px 20px
  .rule-hub-content__section
    flex-direction column
  .rule-section__left
    width 100%
  .rule-section__right
    width 100%
  .std-rule-hub
    padding-right 0
  .rule-hub-content__fullwidth
    padding 30px 20px
  .stocks-list
    grid-template-columns repeat(1,1fr)
  .sto-img
    margin-bottom 0
  .error-articles
    padding 0
  .about-desc
    padding-right 0
    font-size 15px
  .about-title
    font-size 15px
    font-weight 400
    margin-right 0
    line-height 1.2
  .about-content__left
    width 35%
  .about-content__right
    width 65%
  .about-data__sticky
    font-size 24px
  .about-widget__desc
    font-size 15px

@media screen and (max-width: 768px)
  .header-bottom__menu
    display none
  .main-title
    font-size 30px
    text-align center
  .offer-picture
    display flex
    height 50dvh
  .offer-wrapper
    flex-direction column-reverse
  .offer-info
    margin-top -50px
    box-shadow: 0px 4px 22.899999618530273px -10px #1C274C2E;
    padding 16px
  .offer-rating-count
    font-size 16px
  .offer-rating
    justify-content center
    align-items start
    .icon
      size(19px)
  .offer-desc
    text-align center
  .offer-option span, .calccost-offer span, .index-offer span
    font-size 12px
  .offer-tab
    flex-direction row
    padding 16px
  .offer-price
    font-size 20px
  .offer-credit
    font-size 13px
  .calccost-title
    display none
  .button-2
    min-width 100%
  .offer-option .icon, .calccost-offer .icon, .index-offer .icon
    size(20px)
  .calccost-offer
    width 100%
  .calccost-wrapper
    padding 33px 16px
  .sub-title-2
    font-size 28px
    padding-bottom 18px
  .slider-navigation
    display none
  .offer-options, .calccost-offers
    gap 12px
    margin-bottom 20px
  .swiper-pagination
    display block
    bottom 0 !important
  .sub-title__desc-mobile
    display: block;
    margin-bottom 20px
  .question-video__right
    display none
  .question-m-video__right
    width 100%
    margin-bottom 22px
  .question-video__left
    padding-right 0
    margin-bottom 0
    .sub-title-2
      text-align center
      padding 0 50px 12px 50px
    .sub-title__desc
      text-align center
  .question-video__wrapper
    padding 33px 16px

  .button-2
    font-size 15px
    font-weight 400
  .calccost-offers
    margin-bottom 0
  .sub-title-3
    font-size 28px
  .confidence-item
    padding 28px 16px
    .icon
      size(23px)
      margin-bottom 16px
  .confidence-title
    font-size 17px
    text-align center
    margin-bottom 12px
  .confidence-desc
    font-size 12px
  .law-text
    .sub-title-2
      text-align center
  .law-text__desc
    font-size 15px
    text-align center
  .law-image
    .icon
      size(270px,179px)
  .use-wrapper
    padding 33px 16px
  .use-item
    flex-direction row
    align-items start
    padding 12px 16px
    span
      font-size 12px
      text-align left
    .icon
      size(30px)
      min-width 30px
      margin-bottom 0
  .use-list
    gap 12px
    grid-template-columns: repeat(1, 1fr);
  .steps-list
    grid-template-columns: repeat(1, 1fr);
  .steps-item
    padding 0 50px
    span
      font-size 16px
  .steps-wrapper
    padding 33px 16px
  .risk-container
    flex-direction column-reverse
  .risk-text
    .sub-title-2
      text-align center
  .risk-text__desc
    font-size 16px
    text-align center
    margin-bottom 24px
  .risk-list
    grid-template-columns: repeat(1, 1fr);
  .risk-item
    align-items center
  .risk-item__desc
    font-size 13px
    text-align center
  .risk-item__rule
    color #949CA0
  .risk-image .icon
    size(202px)
  .risk-wrapper
    padding 33px 16px
  .faq-icon
    size(32px)
    min-width 32px
  .faq-question
    padding 16px 12px
  .faq-question span
    font-size 16px
  .faq-answer
    padding 12px
    border-radius 9px
  .faq-item
    border-radius 14px
  .faq-wrapper
    padding 33px 16px
  .slider-container
    flex-direction column
    align-items start
  .reviews .slider-container
    margin-bottom 0
  .reviews-slider
    margin-bottom 60px
    .swiper-pagination
      bottom -40px !important;
  .review-card__person
    flex-direction column
    align-items start
  .see-also__left
    .sub-title
      text-align center
      padding-bottom 20px
  .see-article__title
    font-size 24px
  .see-article
    padding 20px 16px
  .see-article__desc
    font-size 15px
  .f-question__title
    text-align center
    font-size 26px
    margin-bottom 18px
  .form-question__wrapper
    padding 24px 16px
  .f-question__desc
    text-align center
    font-size 15px
  .f-connect__title
    text-align center
    font-weight 600
    font-size 20px
  .f-connect__social
    flex-direction column
    align-items start
    margin-bottom 0
  .f-question__connect
    display flex
    flex-direction column
    align-items center
  .radio-flex
    margin-right 0
    margin-bottom 15px
  .f-question__form
    flex-direction column
    .input-class
      margin-right 0
      margin-bottom 20px
  .f-question__attention
    text-align center
  .form-question__baner
    display block
    position relative
    bottom: -24px;
    right: -17px;
    width 100%
  .s-baner__links
    display grid
    grid-template-columns: repeat(2, 1fr);
    width 100%
    gap 33px
  .s-baner__desc
    font-size 14px
  .m-menu__list
    grid-template-columns: repeat(1, 1fr);
    gap 20px
  .m-menu__item
    font-weight 700
    text-transform uppercase
    font-family 'Montserrat',sans-serif
  .m-app__menu
    border-bottom 1px solid #D0D0D0
    padding-bottom 20px
    margin-bottom 25px
  .m-app__text
    font-size 12px
    color #5E5E5E
  .m-left__title
    font-size 32px
    text-align center
    margin-bottom 20px
  .m-left__desc
    font-size 20px
    text-align center
    margin-bottom 10px
  .m-main__right
    flex-direction column
  .m-main__link
    margin-right 0
    margin-bottom 22px
    &:last-child
      margin-bottom 0
  .m-app__main
    padding 33px 16px
  .social-baner__wrapper
    padding 33px 16px
  .mobule-menu
    display block
  .reviews-slider .swiper-pagination
    bottom 101px !important
  .menu-tab
    display block
    padding-top 70px
  .menu-tab.active
    transform translateY(0)
  .menu-tab__close
    position absolute
    top 41px
    right 32px
    size(30px)
    display flex
    justify-content center
    align-items center
    .icon
      size(20px)
      fill #B8B8B8
  .menu-tab__title
    font-family 'Montserrat',sans-serif
    font-size 24px
    text-align center
    font-weight 700
    color #222222
    margin-bottom 40px
  .menu-tab__item
    display block
    background-color #EBEBEB
    padding 20px
    border-radius 23px
    margin-bottom 12px
    &:last-child
      margin-bottom 0
  .menu-item__title
    display flex
    justify-content space-between
    margin-bottom 8px
    span
      font-family 'Montserrat',sans-serif
      font-size 24px
      font-weight 700
      color #1D212C
      text-transform uppercase
      word-break break-all
      padding-right 25px
  .menu-item__icon
    display flex
    justify-content center
    align-items center
    size(32px)
    background-color #4E4E4E
    border-radius 50%
    min-width 32px
    .icon
      size(14px)
      fill transparent
      stroke #fff
      stroke-width 2px
  .menu-item__desc
    font-size 14px
    color #1D212C
    padding-right 32px
  .menu-tab__list
    overflow-y scroll
    height: calc(100dvh - 191px);
    padding-bottom 30px
    &::-webkit-scrollbar
      width 0
  .menu-tab__item-stats
    display flex
    flex-direction column
    justify-content center
    align-items center
    background-color #E0E0E0
    border-radius 16px
    padding 20px
  .menu-stats__block-count
    font-size 71px
    font-family 'Montserrat',sans-serif
    font-weight 700
    line-height 1.2
    color #161616
  .menu-stats__block
    display flex
    flex-direction column
    align-items center
    span
      font-size 15px
      color #161616
  .menu-stats__title
    font-size 18px
    font-family 'Montserrat',sans-serif
    font-weight 700
    color #171717
    text-transform uppercase
    margin-bottom 32px
    text-align center
    padding 0 40px
  .menu-item__social
    display flex
    align-items center
  .menu-item__social-icon
    display flex
    justify-content center
    align-items center
    size(38px)
    border-radius 50%
    margin-right 12px
    .icon
      size(25px)
      fill #fff
  .menu-vk
    background-color #07689F
  .menu-whatsapp
    background-color #71BF44
  .menu-telega
    background-color #039BE5
  .menu-item__social-title
    align-items center
    margin-bottom 0
  .social-networks
    background-color #3B3B3B
    border-radius 23px
    padding 20px
  .social-net__title
    font-size 20px
    font-family 'Montserrat',sans-serif
    font-weight 700
    color #fff
    margin-bottom 12px
    text-align center
  .social-net__desc
    font-size 14px
    color #fff
    margin-bottom 24px
    text-align center
  .social-net__links
    display flex
    align-items center
    justify-content center
    gap 20px
  .social-net__item
    img
      size(42px)
      border-radius 50%
      border 1px solid #fff
  .index-wrapper
    padding 33px 16px
  .index-wrapper
    .sub-title-2
      text-align center
      font-size 28px
    .sub-title__desc
      text-align center
      font-size 18px
  .s-review__list
    justify-content center
  .site-reviews__wrapper
    padding 33px 16px
  .packages-wrapper
    padding 33px 16px
    .sub-title
      font-size 24px
      text-align center
    .see-article__title
      font-size 18px
    .see-article__desc
      font-size 13px
  .packages__articles
    gap 12px
  .together-item__desc
    font-size 15px
  footer
    padding-bottom 78px
  .main-title
    font-size 24px
  .article-wrapper .offer-desc
    font-size 18px
  .article-share
    top 58%
  .article-widget__img
    size(170px)
  .article-content__item-depth1
    font-size 16px
    margin-bottom 8px
  .article-content__container
    border-top 1px solid #E3E3E3
    padding-top 16px
  .article-test
    padding 33px 16px
    .sub-title-3
      font-size 24px
      padding-bottom 16px
    .test-desc
      width 100%
      font-size 15px
  .article-content
    .sub-title-2
      font-size 24px
      padding-bottom 20px
    .sub-title-2__gray
      font-size 24px
    p
      font-size 15px
    li
      font-size 15px
  .article-auto__title
    font-size 18px
    margin-bottom 4px
  .article-auto__widget
    padding 16px
  .article-auto__widget .see-article__link
    top 9px
    right 16px
  .article-auto__desc
    font-size 12px
    color #3D3C3C
  .article-citate
    padding 33px 16px
  .article-citate__desc
    font-size 18px
  .article-auto__widget
    &:last-child
      margin-bottom 0
  .tar-right__title
    text-align center
  .tar-right
    padding 33px 16px
  .b-articles__list
    grid-template-columns: repeat(1, 1fr);
    gap 15px
  .blog-category
    padding 28px 16px
    margin-bottom 20px
  .blog-tags
    padding 28px 16px
  .b-categ__item
    font-size 15px
  .b-tags__item
    font-size 15px
  .b-categ__list,.b-tags__list
    gap 12px
  .blog-articles .b-articles__desc
    margin-bottom 24px
  .p-baner__title
    font-size 24px
  .practice-baner__wrapper
    padding 33px 16px
  .p-baner__desc
    font-size 18px
    font-weight 400
    color #F0F0F0
  .practice-step__title
    font-size 28px
  .practice-step__desc
    font-size 16px
  .practice-step
    padding 21px 16px
  .content-img__wrapper span
    padding-left 0
  .content-img__wrapper
    margin-bottom 20px
    img
      object-fit cover
      min-height 508px
  .practice-main-content
    .see-article
      position relative
    .see-article__title
      flex-direction column
      align-items start
      span
        text-transform none
        font-size 24px
    .see-article__title
      font-size 24px
      text-transform none
      padding-right 90px
    .see-article__link
      position absolute
      top 22px
      right 18px
    .see-article__text
      padding-right 0
    .see-article__desc
      font-size 16px
  .practice-tag__service
    margin-bottom 10px
  .practice-articles__blog .sub-title__desc
    max-width 100%
  .practice-tabs
    overflow-x scroll
    flex-wrap nowrap
    margin 0 -10px
    margin-bottom 28px
    padding-left 10px
    &::-webkit-scrollbar
      height 0
  .practice-tab
    font-size 16px
  .tarif-slider__wrapper
    padding-bottom 23px
  .service-prizyv
    .sub-title
      font-size 28px
      padding-bottom 20px
    .sub-title__desc
      font-size 15px
      color #000000
  .task-slider__item
    width 305px
  .task-slider__text
    padding-bottom 0
    font-weight 400
    font-size 15px
  .task-slider
    margin-bottom 23px
  .task-slider__item .icon
    margin-bottom 10px
  .paketi-slider
    margin-bottom 23px
  .stock-wrapper
    display block
    position fixed
    bottom 78px
    left 0
    right 0
    height 177px
    background: linear-gradient(359.49deg, #FFFFFF -10.37%, #FB757D -10.36%, #FFFFFF 145.29%, #FFB0B0 145.29%);
    z-index 50
    border-radius 23px 23px 0px 0px
  .stock-icon3
    display block
    transform: translate(36%, 16%);
  .stock-icon2
    display none
  .stock-icon1
    display none
  .stock-close
    position absolute
    right 15px
    top 15px
    z-index 51
  .stock-icon3
    position absolute
    right: 52px;
    top: -19px;
    .icon
      size(146px,107px)
  .stock-flex
    display grid
    grid-template-columns repeat(2, 1fr)
    width 100%
    gap 12px
    margin-bottom 17px
  .stock-text1
    padding 14px
    margin-left 0
    height 28px
    span
      font-size 13px
  .stock-container
    flex-direction column
  .stock-desc1
    display block
    font-size 13px
  .stock-procent__wrap
    span:nth-child(2)
      display block
      font-size 13px
  .stock-button__wrap
    width 100%
    .stock-button
      margin-right 0
      height 40px
  .stock-procent__wrap
    span:nth-child(1)
      font-size 18px
  .stock-wrapper .container
    padding: 20px 16px 0px 16px;
  .tarif-advantages
    margin-bottom 23px
  .m-price__flex
    flex-direction column
    align-items end
    .m-price__old
      font-size 15px
    .m-price__now
      font-size 25px
      margin-right 0
  .m-stock__bottom
    align-items start
  .popup__wrapper
    max-width 540px
  .popup-content
    .sub-title
      font-size 24px
  .input-main__block label
    margin-bottom 18px
    font-weight 600
  .popup-close
    right 0
    top -80px
  .popup__wrapper
    margin-top 100px
  .m-confidence__item
    width 100%
  .menu-tab
    padding-top: 42px;
  .f-question__attention
    font-size 12px
  .max-w-450
    max-width 404px
  .review-2-load
    display flex
  .themes-load-more
    display flex
  .review-grid
    grid-template-columns repeat(1,1fr)
  .review-sec
    .reviews-slider__card
      max-width 100%
      height max-content
    .reviews-card__img
      height 50%
      object-fit cover
  .rating-site .site-reviews__wrapper
    padding 40px 20px
  .review-load-more
    display flex
  .review-nav-bar
    display none
  .review-grid
    margin-bottom 30px
  .rating-site .s-review__title
    font-size 20px
  .s-block__link
    padding 13px
  .social-block__left
    width 100%
  .contacts-grid
    grid-template-columns repeat(1,1fr)
  .contacts-block
    padding 25px 30px
    &:nth-child(1)
      grid-area: 1 / 1 / 2 / 2;
    &:nth-child(2)
      grid-area: 2 / 1 / 3 / 2;
    &:nth-child(3)
      grid-area: 3 / 1 / 4 / 2;
    &:nth-child(4)
      grid-area: 4 / 1 / 5 / 2;
  .social-info,.contacts-info
    .sub-title
      font-size 28px
    .sub-title__desc
      font-size 15px
  .contacts-icon .icon
    size(50px)
  .contacts-title
    font-size 20px
  .test-app__right
    display block
    position relative
    right 0
    height 250px
    object-fit contain
  .test-app__ajax
    flex-direction column
  .test-app__left
    .sub-title-2
      text-align center
      font-size 28px
    .button-2
      min-width auto
  .test-online
    .sub-title
      font-size 28px
    .sub-title__desc
      font-size 15px
    .sub-title__block
      font-size 28px
  .test-back
    min-width 67px
  .test-app__wrapper.active
    position fixed
    top 0
    right 0
    left 0
    bottom 0
    z-index 101
    min-height auto
    border-radius 0
    .test-app__right
      height 50%
    .test-app__left
      .sub-title
        font-size 22px
    .test-more__content
      width 100%
    .test-app__ajax
      justify-content space-between
    .test-app__radios
      grid-template-columns repeat(1,1fr)
  .test-app__result-right
    width 100%
  //.test-app__result-block
  //  padding 28px
  //.test-app__recommend-block
  //  padding 20px
  .test-app__over-wrapper
    .sub-title
      font-size 28px
    .sub-title__desc
      font-size 15px
  .test-app__left
    padding 16px
  .test-app__date
    font-size 15px
    height auto
    margin-bottom 28px
  .recommend-test__articles
    grid-template-columns repeat(1,1fr)
  .test-over__copy,.test-over__share
    min-width auto
  .test-categ__tags
    max-height 300px
    overflow-y scroll
  .team-choise__text
    font-size 15px
  .team
    .sub-title
      font-size 28px
    .sub-title__desc
      font-size 15px
  .team-chosen__employer
    padding 20px
  .team-employer__name
    font-size 18px
    text-align center
  .team-employer__job
    font-size 14px
    margin-bottom 0
    text-align center
  .team-employer__city
    display none
  .team-chosen__employer img
    max-width 180px
  .team-chosen__city span
    font-size 12px
  .video-mobile__title
    display block
  .video-employer__title
    font-size 14px
  .employer-right
    .sub-title-2
      display none
    .sub-title__desc
      font-size 15px
    .sub-title-4
      font-size 20px
  .employer-sert__pictures
    gap 9px
  .employer-sert__picture
    height 90px
    img
      min-width: 90px;
      max-width: 90px;
      max-height: 90px;
  .employer-info
    .sub-title-4
      font-size 20px
    .sub-title__desc
      font-size 15px
  .reviews-employer
    .b-articles__subtitle
      font-size 24px
  .reviews-employer .slider-container .b-articles__title
    width 100%
    justify-content space-between
  .reviews-employer
    .b-articles__title
      span
        font-size 22px
        font-weight 400
    .sub-title__desc-mobile
      display none
  .employer-practice .b-articles__subtitle
    width 100%
    justify-content space-between
    font-size 24px
  .employer-practice .b-articles__title span
    font-size 22px
    font-weight 400
  .reviews-employer .employer-load-reviews
    display flex
  .employer-practice .employer-practice-load
    display flex
  .video-employer .b-articles__subtitle
    font-size 24px
  .video-employer .b-articles__title span
    font-size 22px
    font-weight 400
  .questions-consult
    .index-wrapper
      padding 30px
      .sub-title-2
        font-size 24px
      .sub-title__desc
        padding-right 0
  .themes-tabs
    overflow-x scroll
    flex-wrap nowrap
  .themes-tab
    white-space nowrap
    font-size 12px
  .questions-themes
    overflow hidden
  .themes-item__desc
    font-size 16px
  .themes-item__title
    font-size 16px
  .themes-item__top
    padding 25px 20px
  .themes-item__bottom
    padding 20px
  .themes-info__name
    font-size 16px
  .themes-info__job
    font-size 14px
  .themes-item__tabs
    row-gap 7px
    column-gap 7px
  .themes-item__tab
    height 26px
    padding 10px
  .themes-item__profile img
    size(44px)
    min-width 44px
  .themes-container
    .sub-title
      font-size 20px
      padding-bottom 24px
  .question-single
    .sub-title
      font-size 28px
  .question-single__icon .icon
    size(41px)
  .question-single__container .themes-item__top
    padding 25px
  .question-single__container .themes-item__bottom
    padding 25px
  .question-single__baner
    display none
  .themes-wrapper
    .b-articles__subtitle
      font-size 24px
      display flex
      justify-content space-between
  .standart-wrapper
    .sub-title
      font-size 28px
      text-align center
  .standart-content
    padding-right 0
  .standart-content h3
    font-size 20px
  .congrat-wrapper .sub-title-3
    font-size 22px
  .congrat-desc
    font-size 15px
  .congrat-wrapper
    padding 30px 20px
    .icon
      height 200px
  .job-over
    .site-reviews__wrapper
      background-color transparent
    .s-review__title
      color #343434
      font-size 20px
  .see-also__partners .see-also__left .sub-title
    font-size 20px
  .job-over2__also-list
    grid-template-columns repeat(1,1fr)
  .job-over2__item--tag
    padding 8px
  .job-over2-see-also
    .sub-title
      font-size 20px
  .rule-time__wrapper .sub-title__desc
    padding-right 0
    font-size 15px
  .test-block .test-desc
    width 100%
  .rule-content__wrapper
    padding 20px
  .rule-content__desc
    font-size 14px
  .rule-content__name
    font-size 18px
    margin-right 12px
  .rule-content__article
    font-size 12px
    height 22px
    padding 10px
  .rule-content__bottom-item
    padding 16px
  .rule-content__bottom-name
    font-size 16px
  .rule-content__bottom-desc
    font-size 14px
  .rule-time__right blockquote
    font-size 15px
  .rule-time__right blockquote:before
    top -48px
    size(35px)
  .rule-time__right blockquote:after
    size(35px)
    bottom -48px
  .rule-time__tag
    font-size 14px
  .rule-graf__desc
    font-size 14px
    padding 15px 16px
  .rule-fullwidth__graf-item
    flex-direction column
  .rule-graf__name
    font-size 14px
    margin-bottom 12px
  .rule-dropdown__title
    font-size 20px
  .rule-section__dropdown
    padding 30px 16px
  .rule-dropdown__item-title
    font-size 16px
  .rule-dropdown__item-desc
    font-size 14px
  .rule-section__right p
    font-size 15px
  .rule-hub-content__fullwidth
    .sub-title-2
      font-size 20px
  .rule-fullwidth__left
    font-size 16px
  .rule-fullwidth__right-title
    font-size 14px
  .rule-section__widget
    padding 20px
  .rule-section__right ul li
    font-size 15px
  .rule-dropdown__icon
    display none
  .std-rule-hub
    font-size 15px
  .stocks-wrapper
    .sub-title-3
      font-size 24px
  .confidence-desc2
    font-size 15px
  .question-video .question-video__left .sub-title-2
    padding 0
    line-height 1
    margin-bottom 13px
  .question-video .question-m-video__right
    display flex
  .videos .video-employer__list
    grid-template-columns repeat(1,1fr)
  .about-basics__list .swiper-wrapper
    display flex
    gap 0
  .about-basics
    overflow hidden
  .about-content
    flex-direction column-reverse
  .about-content__left
    width 100%
  .about-content__right
    width 100%
  .about-content__right p
    font-size 15px
  .about-container__text
    font-size 15px
  .about-container__title
    font-size 20px
  .about-container__desc
    font-size 15px
  .about-data__container img
    margin-bottom 13px
  .about-data__right p
    font-size 15px
  .about-us__title
    display none
@media screen and (max-width: 576px)
  .together-list
    grid-template-columns: repeat(1, 1fr);
  .h-logo .icon-logo2
    width 197px
  .h-mobile__phone, .h-mobile__search
    size(42px)
    .icon
      size(24px)
  .confidence-list
    gap 12px
  .confidence-desc
    padding 0
  .button-3
    min-width 100%
  .footer-right
    display none
  .footer-left
    .footer__data:nth-child(1)
      order 3
      flex-direction column
      text-align center
    .footer__data:nth-child(2)
      order 1
      text-align center
    .footer__data:nth-child(3)
      order 2
      margin-bottom 17px
      text-align center
  .s-baner__link img
    size(56px)
  .s-baner__name
    font-size 18px
  .s-baner__count span
    font-size 14px
  .form-question__baner
    display: block;
    position: relative;
    bottom: -43px;
    right: 166px;
    width: 502px;
    height: 294px;
    object-fit: contain;
  .breadcrumbs-item span
    font-size 13px
  .offer-picture
    height 40dvh
  .offer-price
    white-space pre
  .offer-credit
    padding-left 50px
  .tarif-slider__card
    max-width 247px
  .tarif-advantages__item
    max-width 295px
  .t-item__par span
    font-size 13px
  .index-offers
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  .s-review__title
    font-size 24px
  .packages__articles
    .see-article
      padding: 20px 10px;
  .popup__wrapper
    max-width 90%
    padding 17px
    .tarif-advantages__item
      max-width 100%
      padding: 18px 8px 8px 8px;
    .t-item__tag
      font-size 12px
      margin-right 0
      margin-left 0
  .popup-close
    size(52px)
  .m-stock__radio
    font-size 16px
  .m-stock__name
    font-size 18px
    margin-right 15px
  .m-price__block
    flex-direction column
    height auto
    .t-item__tag
      margin-bottom 10px
  .m-price__flex
    display flex
    align-items center
  .m-confidence__item
    padding 15px
    .icon
      min-width 34px
    span
      font-size 12px
  .article-share
    top 53%
  .rating-site .s-review__item
    min-width 100%
  .review-sec .reviews-card__img
    height 286px
  .s-block__links
    grid-template-columns repeat(1,1fr)
  .s-block__link
    justify-content center
  .test-over__buttons
    flex-direction column
  .test-over__copy,.test-over__share
    width 100%
  .test-over__category
    font-size 85px
  .test-over__res-title
    font-size 18px
  .test-over__res
    padding 20px
  .test-app__left
    .sub-title-2
      font-size 22px
  .test-app__radios
    row-gap 0
  .test-app__inputs,.test-check-pictures,.test-check__yesno
    grid-template-columns repeat(1,1fr)
    max-height 300px
    overflow-y scroll
  .team-chosen__container
    gap 17px
  .team-chosen__employer
    border-radius 14px
  .video-employer__title
    font-size 13px
  .job-over
    .s-review__list
      display grid
      grid-template-columns repeat(2,1fr)
      gap 10px
  .congrat-wrapper .icon
    width auto
  .rule-time
    .rule-time__left
      padding 20px
  .rule-time__right blockquote
    margin 15px 0
  .test-wrapper
    .sub-title-3
      font-size 24px
    .test-desc
      font-size 14px
  .rule-fullwidth__graf-list
    gap 10px
  .sto-img
    height 100%
    margin-bottom 20px
  .sto-wrapper
    .sub-title__desc
      font-size 16px
  .stocks-tag span
    font-size 16px
  .stocks-time
    font-size 13px
  .sto-desc
    font-size 15px
    width 100%
    padding 0
  .error-404-text
    font-size 130px
  .error-desc
    text-align center
    font-size 24px




