@import '../../../node_modules/normalize.css/normalize.css'
/* ================ Swiper Slider =================== */
@import "../../../node_modules/swiper/css/swiper.min.css"
/* ================ Bootstrap =================== */
//@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css"
@import "../../../node_modules/rateyo/src/jquery.rateyo.css"
@import "../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css"