.stocks
  padding-top 0
  .sub-title
    padding-bottom 23px
  .sub-title__desc
    margin-bottom 50px
.stocks-list
  display grid
  grid-template-columns repeat(3,1fr)
  gap 28px
.stocks-item
  display flex
  flex-direction column
  padding 24px 20px
  border-radius 23px
  border: 2px solid #404040
  cursor pointer
  background-color #fff
.stocks-tag
  display flex
  justify-content center
  align-items center
  padding 9px 17px
  width max-content
  background-color #D8D8D8
  border-radius 36px
  height 42px
  margin-right 12px
  .icon
    size(24px)
    margin-right 12px
  span
    font-size 18px
    color #3D3C3C

.stocks-top
  display flex
  align-items center
  margin-bottom 30px
.stocks-time
  font-size 18px
  color #323232
.stocks-bottom2
  display flex
  flex-direction column
  justify-content space-between
  height 100%
.stocks-bottom__title
  font-family 'Montserrat',sans-serif
  font-weight 700
  font-size 24px
  color #1D212C
  margin-bottom 5px
  text-transform uppercase
.stocks-bottom__desc
  font-size 16px
  color #777777
  margin-bottom 16px
.stocks-bottom__service
  font-size 18px
  color #3D3C3C
.stocks-bottom__desc-item
  display flex
  .stocks-bottom__desc-icon
    display flex
    justify-content center
    align-items center
    size(27px)
    background-color #D0D0D0
    border-radius 50%
    min-width 27px
    margin-right 10px
  .icon
    size(14px)
    fill #3D3C3C
.stocks-bottom__service2
  display flex
  justify-content center
  align-items center
  background-color #E1E1E1
  height 58px
  border-radius 17px
  color #1F1F1F
  font-family 'Montserrat',sans-serif
  font-size 20px
  font-weight 700
  font-style italic
  margin-bottom -20px
  margin-left -14px
  margin-right -14px




