section.see-also
    .container
        .see-also__wrapper
            .see-also__container
                .see-also__left
                    .sub-title Еще больше интересного о Повесток.Нет
                .see-also__articles
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title ПРАКТИКА
                            .see-article__desc Полезная информация для призывников, советы юристов и развлекательный контент
                        .see-article__link
                            +icon('arrow-right')
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title ВИДЕО
                            .see-article__desc Полезная информация для призывников, советы юристов и развлекательный контент
                        .see-article__link
                            +icon('arrow-right')
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title ЗАКОНЫ
                            .see-article__desc Мы относимся с большим уважением к законам РФ
                        .see-article__link
                            +icon('arrow-right')