section.blog
    .container
        .blog-wrapper
            h2.sub-title Блог компании Повесток.Нет
            .blog-container
                .blog-search
                    .b-search__input
                        input(type="text" placeholder="Поиск статьи")
                        .b-search__button
                            +icon('search')
                .blog-category
                    .b-categ__title Категории
                        span (0)
                    .b-categ__list
                        .b-categ__item
                            span Комиссация из армии
                            .b-categ__icon
                                +icon('close')
                        .b-categ__item
                            span Освобождение от призыва
                            .b-categ__icon
                                +icon('close')
                        .b-categ__item
                            span Отношения с военкоматом
                            .b-categ__icon
                                +icon('close')
                        .b-categ__item
                            span Отсрочка от армии
                            .b-categ__icon
                                +icon('close')
                        .b-categ__item
                            span Военный билет
                            .b-categ__icon
                                +icon('close')
                .blog-tags
                    .b-tags__title Теги
                        span (0)
                    .b-tags__list
                        .b-tags__item
                            span Призыв
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Призыв 2023
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Военный билет
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Повестка
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Призыв
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Призыв 2023
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Военный билет
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Повестка
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Призыв
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Призыв 2023
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Военный билет
                            .b-tags__icon
                                +icon('close')
                        .b-tags__item
                            span Повестка
                            .b-tags__icon
                                +icon('close')
                .blog-articles
                    .b-articles__title Статей:
                        span 88
                    .b-articles__list
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                        .b-articles__item
                            .b-articles__author
                                img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                                .b-articles__name Фенис Карама
                            .b-articles__title Осенний призыв 2023: сроки проведения и начало
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                            .b-articles__data
                                .b-articles__info
                                    +icon2('clock2')
                                    span 2 мин
                                .b-articles__info
                                    +icon2('eye')
                                    span 83
                                .b-articles__info
                                    +icon2('calendar-2')
                                    span 02.10.2023
                    .button-3.min-w-429.blog-articles__load Загрузить еще
