section.about-basics
    .container
        .about-basics__wrapper
            h2.sub-title Основы нашей деятельности
            .about-basics__list
                .swiper-wrapper
                    .about-basics__item.swiper-slide
                        .about-basics__title УВАЖЕНИЕ ЗАКОНОВ РФ
                        .about-basics__desc Мы не призываем к уклонению от армии, подделке документов и прочим схемам. Наши клиенты получают военный билет строго на основании закона «О воинской обязанности и военной службе»
                    .about-basics__item.swiper-slide
                        .about-basics__title УВАЖЕНИЕ ЗАКОНОВ РФ
                        .about-basics__desc Мы не призываем к уклонению от армии, подделке документов и прочим схемам. Наши клиенты получают военный билет строго на основании закона «О воинской обязанности и военной службе»
                    .about-basics__item.swiper-slide
                        .about-basics__title ИСКРЕННЕЕ ЖЕЛАНИЕ ПОМОЧЬ
                        .about-basics__desc Мы не призываем к уклонению от армии, подделке документов и прочим схемам. Наши клиенты получают военный билет строго на основании закона «О воинской обязанности и военной службе»
                    .about-basics__item.swiper-slide
                        .about-basics__title НАДЕЖНОСТЬ И ПРОЗРАЧНОСТЬ
                        .about-basics__desc Мы не призываем к уклонению от армии, подделке документов и прочим схемам. Наши клиенты получают военный билет строго на основании закона «О воинской обязанности и военной службе»