section.about-data
    .container
        .about-data__wrapper
            .about-data__left
                .sub-title.about-data__sticky Слово директору
            .about-data__right
                .about-data__container
                   .about-container__left
                       .about-container__title Алина Петрова
                       .about-container__desc основатель Повесток.Нет
                       .about-container__text Мы создаем качественные услуги, удовлетворяющие высоким критериям и требованиям современной молодежи, повышаем правовую грамотность населения РФ.
                           br
                           br
                           | Обеспечиваем комфортные и безопасные условия клиентам на всех этапах сотрудничества. Добиваемся соблюдения принципов равенства и законности в отношении призывников со стороны сотрудников военных комиссариатов.
                       .button-2.min-w-366 Задать вопрос
                   img(src="/static/img/general/img5.png")
        .about-data__wrapper
            .about-data__left
                .sub-title.about-data__sticky Наши офисы
            .about-data__right.adr-content
                .about-data__slider-wrapper
                    .about-data__slider
                        .swiper-wrapper
                            img.swiper-slide(src="/static/img/general/img2.png")
                            img.swiper-slide(src="/static/img/general/img2.png")
                            img.swiper-slide(src="/static/img/general/img2.png")
                            img.swiper-slide(src="/static/img/general/img2.png")
                            img.swiper-slide(src="/static/img/general/img2.png")
                        .swiper-pagination
                    .about-widget__desc Наш центральный офис в г. Казань
                h2 Модель обслуживания клиентов
                p На сегодняшний день в центральном офисе в г. Казань создан сильный юридический департамент из специалистов по военному праву, юристов, экспертов по ВВК, которые занимаются комплексным ведением дел клиентов со всей России.
                img(src="/static/img/general/img2.png")
                p В остальных городах РФ мы представлены региональными представителями. Это частные юристы или юридические компании, которые прошли тщательный отбор и собеседования, прежде чем с ним были подписаны договора о сотрудничестве.
                    br
                    br
                    | Если вы хотите стать представителем нашей компании в вашем регионе, свяжитесь с нами в социальных сетях. Будьте готовы пройти обучение и аттестацию по нашим внутренним стандартам.
                    br
                    br
                    | Более подробную информацию об истории компании, её структуре и работе вы можете узнать на первичной бесплатной консультации.
                h2 Наша команда
                .about-data__articles
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title Сотрудники
                            .see-article__desc Наши услуги включают в себя личное юридическое сопровождение
                        .see-article__link
                            +icon('arrow-right')


