section.about
    .container
        .about-us-wrapper
            h2.sub-title О компании
            .about-us__title
                .about-title «Повесток.нет»
                .about-desc – это федеральная юридическая компания в сфере военного права с представителями в 57 городах России.
            .about-content
                .about-content__left
                    .about-content__widget
                        img(src="/static/img/general/img1.png")
                        .about-widget__desc Алина Петрова, исполнительный директор Повесток.Нет
                .about-content__right
                    img(src="/static/img/general/img2.png")
                    .about-widget__desc Коллектив юридического департамента центрального офиса компании в Казани
                    p
                        | С 2015 года мы оказываем комплексную юридическую помощь людям призывного возраста, помогая призывникам реализовать свое право на отсрочку или освобождение от службы в армии в рамках законодательства Российской Федерации.
                        br
                        br
                        | Ежегодно более 25 000 призывников пользуются нашими бесплатными юридическими консультациями по вопросам призыва в армию, посещают обучающие вебинары и при желании становятся клиентами компании.
                        br
                        br
                        | Мы искренне считаем, что сильная армия – это здоровая армия, в которой должны служить только те ребята, которые годны по состоянию здоровья.