.error-wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 100px 0
.error-text
  font-size 54px
  color #222222
  font-family 'Montserrat',sans-serif
  font-weight 700
  text-transform uppercase
.error-404-text
  font-size 215px
  color #222222
  font-family 'Montserrat',sans-serif
  font-weight 700
  line-height 0.9
.error-desc
  font-size 36px
  color #222222
  font-family 'Montserrat',sans-serif
  font-weight 700
.error-articles
  display flex
  flex-direction column
  padding 0 15%
  row-gap 25px