section.offer
    .container
        .offer-wrapper
            .offer-info
                h1.offer-title.main-title Консультация по призыву
                .offer-rating
                    +icon('star')
                    .offer-rating-count 4.9
                        span на основе 2889 отзывов реальных клиентов
                .offer-desc Юридическая консультация для призывников и их родителей по вопросам призыва на военную службу
                .offer-options
                    .offer-option
                        +icon2('clock')
                        span 1 час
                    .offer-option
                        +icon2('wifi')
                        span в офисе или дистанционно
                    .offer-option
                        +icon2('shield')
                        span анонимно

                .offer-tab
                    .offer-price Бесплатно
                    .offer-credit__discont 1 000 ₽
            .offer-picture
                img(src="../static/img/general/img1_1.png")

