.confidence-desc2
  font-family 'Montserrat',sans-serif
  font-size 20px
  font-weight 600
  color #3D3C3
  text-align center
.sto-wrapper
  display flex
  flex-direction column
  justify-content center
  align-items center
  .main-title
    text-transform uppercase
  .sub-title__desc
    margin-bottom 25px
.sto-img
  width 100%
  max-width 750px
  height 100%
  max-height 900px
  margin-bottom 65px
  border-radius 23px
.sto-desc
  font-size 20px
  color #000000
  padding 0 17%
  text-align center
.sto
  padding-top 0
.stock-list__items
  .stocks-top
    margin-bottom 10px
  .stocks-item
    padding 18px
  .stocks-tag
    height: 31px;
    color #868686
    font-size 12px
    font-family 'Montserrat',sans-serif
  .stocks-bottom__service2
    justify-content space-between
    margin-bottom -14px
    padding 20px 23px
    background-color #373737
    .stock-bottom__price1
      font-size 20px
      color #fff
    .stock-bottom__price2
      color #A6A6A6
      font-size 16px
      text-decoration line-through
  .stocks-bottom__title
    margin-bottom 15px
  .stocks-top
    justify-content space-between
.stock-top__icon
  display flex
  justify-content center
  align-items center
  background-color #626161
  size(34px)
  border-radius 50%
  min-width 34px
  .icon
    fill transparent
    stroke #fff
    stroke-width 2px
    stroke-linecap round
    size(14px)
