section.index-baner.questions-consult
    .container
        h2.sub-title Онлайн-консультация
        .index-wrapper
            .index-content
                .sub-title-2 Задайте вопрос нашему юристу онлайн
                .sub-title__desc Проведем детальный анализ проблемы и экспертную юридическую консультацию
                .button-2.min-w-433
                    span Задаит вопрос в WhatsApp
                    .whatsapp-share
                        +icon('whatsapp')
            img.index-baner__img(src="/static/img/general/img4.png" alt="Картинка")