.questions-consult
  padding-top 0
  .index-wrapper
    padding: 94px 420px 100px 36px;
    .sub-title__desc
      padding-right 30%
  .button-2
    font-weight 400
    span
      margin-right 10px
    .whatsapp-share
      display flex
      justify-content center
      align-items center
      size(30px)
      border-radius 50%
    .icon
      size(20px)
      fill #fff

