section.stocks
    .container
        .stocks-wrapper
            h2.sub-title Акции
            .sub-title__desc Информация об актуальных акциях и скидках
            .stocks-list
                a.stocks-item(href="/")
                    .stocks-top
                        .stocks-tag
                            +icon2('timer')
                            span 1-10 сентября
                        .stocks-time еще 3 дня
                    .stocks-bottom
                        .stocks-bottom__content
                            .stocks-bottom__title НОВОГОДНИЕ СКИДКИ -15%
                            .stocks-bottom__desc экономия до 25 000 рублей
                        .stocks-bottom__service На пакеты услуг Базовый, Оптимальный и VIP
                a.stocks-item(href="/")
                    .stocks-top
                        .stocks-tag
                            +icon2('timer')
                            span 1-10 сентября
                        .stocks-time еще 3 дня
                    .stocks-bottom
                        .stocks-bottom__content
                            .stocks-bottom__title НОВОГОДНИЕ СКИДКИ -15%
                            .stocks-bottom__desc экономия до 25 000 рублей
                        .stocks-bottom__service На пакеты услуг Базовый, Оптимальный и VIP
                a.stocks-item(href="/")
                    .stocks-bottom2
                        .stocks-bottom__content
                            .stocks-bottom__title Скидка студентам
                            .stocks-bottom__desc На услугу “Военный билет”
                            .stocks-bottom__desc-list
                                .stocks-bottom__desc-item
                                    .stocks-bottom__desc-icon
                                        +icon('ok')
                                    span Молодым людям с действующей отсрочкой по обучению
                        .stocks-bottom__service2 -6000Р


