.reviews-employer
  overflow hidden
  .employer-load-reviews
    display none
  .slider-container
    .b-articles__title
      display flex
      align-items center
      margin-bottom 0
  .b-articles__subtitle
    font-size 32px
  .b-articles__title span
    font-size 32px
    margin-left 15px
.emplo-slider
  margin-bottom 40px