section.test-online
    .container
        .test-block
            h2.sub-title__block Онлайн-тест:
                span каковы ваши шансы на призыв в армию?
            .sub-title__desc Пройдите тест и узнайте, годны ли вы к службе в армии