section.confidence
    .container
        .confidence__wrapper
            h2.sub-title-3 Почему мы?
            .confidence-list
                .confidence-item
                    +icon('ok')
                    .confidence-desc2 70 опытных юристов и мед. экспертов в команде
                .confidence-item
                    +icon('ok')
                    .confidence-desc2 Более 3000 клиентов получили нашу помощь
                .confidence-item
                    +icon('ok')
                    .confidence-desc2 0 клиентов служат
                .confidence-item
                    +icon('ok')
                    .confidence-desc2 Гарантируем результат по официальному договору

