section.sto
    .container
        .sto-wrapper
            img.sto-img(src="/static/img/general/img1.png")
            h2.main-title Новогодние скидки -15%
            .sub-title__desc экономия до 25 000 рублей
            .stocks-top
                .stocks-tag
                    +icon2('timer')
                    span 1-10 сентября
                .stocks-time еще 3 дня
            .sto-desc С 1 по 10 декабря заключайте договор на комплексную помощь в получении военного билета по пакетам услуг «Базовый», «Оптимальный» и «VIP» со скидкой 15%.