section.stocks
    .container
        .stocks-wrapper
            h2.sub-title-3 Цены с учетом скидки
            .stocks-list.stock-list__items
                a.stocks-item(href="/")
                    .stocks-top
                        .stocks-tag самый экономичный
                        .stock-top__icon
                            +icon('arrow-right')
                    .stocks-bottom2
                        .stocks-bottom__content
                            .stocks-bottom__title «БАЗОВЫЙ»
                        .stocks-bottom__service2
                            .stock-bottom__price1 от 72 165 ₽
                            .stock-bottom__price2 от 84 900 ₽
                a.stocks-item(href="/")
                    .stocks-top
                        .stocks-tag самый экономичный
                        .stock-top__icon
                            +icon('arrow-right')
                    .stocks-bottom2
                        .stocks-bottom__content
                            .stocks-bottom__title «ОПТИМАЛЬНЫЙ»
                        .stocks-bottom__service2
                            .stock-bottom__price1 от 72 165 ₽
                            .stock-bottom__price2 от 84 900 ₽
                a.stocks-item(href="/")
                    .stocks-top
                        .stocks-tag самый экономичный
                        .stock-top__icon
                            +icon('arrow-right')
                    .stocks-bottom2
                        .stocks-bottom__content
                            .stocks-bottom__title «VIP»
                        .stocks-bottom__service2
                            .stock-bottom__price1 от 72 165 ₽
                            .stock-bottom__price2 от 84 900 ₽
