section.article-baner
    .container
        .article-wrapper
            .article-info
                h1.offer-title.main-title Пришла повестка в военкомат: что делать?
                .offer-rating
                    +icon('star')
                    .offer-rating-count 4.9
                        span на основе 2889 отзывов реальных клиентов
                .offer-desc Я – специалист компании «Повесток.Нет». Мы помогаем призывникам защищать их законные права. Молодые люди часто консультируются у нас по самым разным вопросам, связанным с призывом в армию. Сегодня я отвечу на популярные вопросы о повестке из военкомата.
                .b-articles__data
                    .b-articles__info
                        +icon2('clock2')
                        span 2 мин
                    .b-articles__info
                        +icon2('eye')
                        span 83
                    .b-articles__info
                        +icon2('calendar-2')
                        span 02.10.2023
            .article-icon
                +icon2('Illustration2')
            .article-share
                +icon('share')
