section.tags-and-rating
    .container
        .tar-wrapper
            .tar-left
                .tar-left__title Теги
                .tar-tags__list
                    a.tar-tags__item(href="/") Призыв
                    a.tar-tags__item(href="/") Военный билет
                    a.tar-tags__item(href="/") Повестка
                    a.tar-tags__item(href="/") Призыв 2023
                    a.tar-tags__item(href="/") Призыв
                    a.tar-tags__item(href="/") Призыв
                    a.tar-tags__item(href="/") Военный билет
                    a.tar-tags__item(href="/") Повестка
            .tar-right
                .tar-right__title Понравилась ли вам статья?
                .tar-right__rating#rateyo
                .button-2.min-w-318.tar-right__button Оценить

