section.reviews-2
    .container
        .slider-container
            h2.sub-title-2.pb-0 Другие статьи про призыв в армию
            .slider-navigation
                .review-button-prev
                    +icon('arrow-left')
                .review-button-next
                    +icon('arrow-right')
        .reviews-wrapper
            .swiper.reviews-2-slider
                ul.swiper-wrapper
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__content
                            .b-articles__title Пришла повестка в военкомат: что делать?
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу об...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__content
                            .b-articles__title Как должны вручать повестку в военкомат: порядок вручения
                            .b-articles__desc Я работаю юристом в компании «Повесток.Нет», которая занимается помощью призывникам...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__content
                            .b-articles__title Пришла повестка в военкомат: что делать?
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу об...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
                    a.swiper-slide.b-articles__item(href="/")
                        .b-articles__content
                            .b-articles__title Пришла повестка в военкомат: что делать?
                            .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу об...
                        .b-articles__data
                            .b-articles__info
                                +icon2('clock2')
                                span 2 мин
                            .b-articles__info
                                +icon2('eye')
                                span 83
                            .b-articles__info
                                +icon2('calendar-2')
                                span 02.10.2023
            a.button-3.min-w-429(href="/") Все отзывы