section.article
    .container
        .article-main__wrapper
            .article-main__sidebar
                .article-main__widget
                    img.article-widget__img(src="/static/img/general/img5.png" alt="Картинка")
                    .article-widget__name Азат Мингалеев
                    .article-widget__job старший юрист
                    .button-whatsapp
                        span Написать в WhatsApp
                        .article-widget__whatsapp
                            +icon('whatsapp')
                .article-content__widget
                    .article-widget__content
                        .article-widget__content-title Содержание
                        .article-widget__content-arrow
                            +icon('arrow-down')
                    .article-content__container
                        .article-content__list
                            .article-content__item-depth1 1.Как выглядит повестка в военкомат
                            .article-content__item-depth2 1.1 Как выглядит повестка в военкомат
                            .article-content__item-depth2 1.1 Как выглядит повестка в военкомат
                        .article-content__list
                            .article-content__item-depth1 2.Когда приходит повестка в военкомат
                            .article-content__item-depth2 2.1 Как приходит повестка в военкомат
                            .article-content__item-depth2 2.2 Как выглядит повестка в военкомат
                        .article-content__list
                            .article-content__item-depth1 3.Как выглядит повестка в военкомат
                            .article-content__item-depth2 3.1 Как выглядит повестка в военкомат
                            .article-content__item-depth2 3.2 Как выглядит повестка в военкомат
                        .article-content__list
                            .article-content__item-depth1 4.Как выглядит повестка в военкомат
                            .article-content__item-depth2 4.1 Как выглядит повестка в военкомат
                            .article-content__item-depth2 4.2 Как выглядит повестка в военкомат
                        .article-content__list
                            .article-content__item-depth1 5.Как выглядит повестка в военкомат
                .article-widget__fixed
                    .article-mobile__widget
                        .article-mobile__title Ответим на все ваши вопросы
                        .article-mobile__desc Проконсультируем по всем вопросам призыва на срочную службу
                        form.f-question__form
                            input.input-class(type="tel" placeholder="+7 (___) ___-__-__" data-mask="+7 (000) 000-00-00")
                            button.button-2.min-w-318 Оставить заявку
                        .f-question__attention Отправляя заявку вы соглашаетесь с
                            a(href="/")=" политикой обработки персональных данных."
            .article-main__content
                .article-test
                    h2.sub-title-3 Получится ли у вас освободиться от службы?
                    .test-time
                        +icon2('clock2')
                        span 1 минута
                    .test-desc Пройди тест и узнай, есть ли у тебя основания для законного получения военного билета по состоянию здоровья.
                    a.button-2.min-w-292(href="/") Пройти тест
                .article-content
                    h2.sub-title-2.pb-16 Как выглядит повестка в военкомат
                    h2.sub-title-2__gray Начало
                    p Начнём с простого: как эта самая повестка выглядит. Фактически она представляет собой небольшую бумажку, на которой обязательно должна содержаться определённая информация:
                    ul
                        li Фамилия, имя, отчество и домашний адрес гражданина, которому она отправлена.
                        li Дату и время явки, а также указание, куда именно нужно явиться.
                        li Причину вызова
                        li Дату и время явки, а также указание, куда именно нужно явиться.
                        li Список вещей, которые нужно иметь собой
                        li Кроме того, на повестке обязательно должна быть печать военкомата и подпись военного комиссара (или же лица, исполняющего его обязанности).
                    p Любая повестка из военкомата должна быть вручена лично в руки и под подпись. В 2023-м году был принят закон, согласно которому, допускается также отправка повесток заказными письмами. Но пока – сентябрь этого года – у нас нет информации о том, что таким образом какие-то повестки кому-то уже отправляли.
                    p За неявку без уважительной на то причине по правильно врученной повестке может наступить ответственность в виде административного штрафа. Неоднократная же неявка по повестке, которая обязывает призывника явиться на призывные мероприятия, может привести к возбуждению уголовного дела за уклонение от службы в армии. Это же может касаться и повестки для мобилизации, хотя там ситуация с ответственностью несколько более запутанная.
                    p А вот если повестку через передали, например, через родственника, или же просто бросили в почтовый ящик, то никакой юридической силы она иметь не будет. Поэтому такую «записку» можно смело игнорировать. Не стоит, однако, игнорировать то, что в такой ситуации вам через какое-то время могут опять принести повестку – только теперь уже по всем правилам.
                    .article-auto__widget
                        .article-auto__tag советуем почитать
                        .article-auto__title Ответственность за уклонение от воинской службы
                        .article-auto__desc Объясняем про ответственность за уклонение от армии: как дела с этим обстоят сейчас и что изменится с октября этого (2023-го) года
                        .see-article__link
                            +icon('arrow-right')
                    h2.sub-title-2 Когда приходит повестка в военкомат
                    p Как подсказывает нам Капитан Очевидность, повестку гражданину приносят в случае, если его хотят вызвать в военкомат. Причины вызова могут быть следующими.
                    ul
                        li Призыв на срочную службу в армию.  Повесткой могут вызвать призывника во время призыва – на медицинскую или призывную комиссию. Если после всех комиссий молодого человека признают годным к службе и отправят в армию, то ему вручат ещё одну повестку – обязывающую явиться с вещами на призывной пункт.
                        li Мобилизация.  Понятно, что такие повестки рассылаются в случае мобилизации тем, кого собираются мобилизовать.
                        li Военные сборы.  Некоторых военнообязанных граждан периодически забирают на так называемые военные сборы. Вызывают туда тоже с помощью повесток.
                        li Уточнение данных.  Иногда военкомат может вызвать повесткой для того, чтобы просто проверить актуальность имеющейся у него информации о гражданине.
                    .article-mobile__widget
                        .article-mobile__title Ответим на все ваши вопросы
                        .article-mobile__desc Проконсультируем по всем вопросам призыва на срочную службу
                        form.f-question__form
                            input.input-class(type="tel" placeholder="+7 (___) ___-__-__" data-mask="+7 (000) 000-00-00")
                            button.button-2.min-w-318 Оставить заявку
                        .f-question__attention Отправляя заявку вы соглашаетесь с
                            a(href="/")=" политикой обработки персональных данных."

                    p Подчеркну, что призывать на срочную службу в армию можно только во время призывов. Если комиссариат вызывает призывника повесткой вне призыва, то явиться призывник всё равно обязаны. А вот проходить какие-то призывные мероприятия, скажем, медкомиссию – уже нет.
                    .article-auto__widget
                        .article-auto__tag советуем почитать
                        .article-auto__title Повестка для уточнения данных
                        .article-auto__desc Объясняем про ответственность за уклонение от армии: как дела с этим обстоят сейчас и что изменится с октября этого (2023-го) года
                        .see-article__link
                            +icon('arrow-right')
                    h2.sub-title-2 Как узнать, пришла ли повестка с военкомата
                    p Некоторые молодые люди интересуются, как узнать, что им пришла повестка из военкомата. На самом деле здесь довольно просто.
                    p Напомню, что заказными письмами повестки пока не отправляли. Скорее всего, повестку просто принесут вам домой. Если вас застанут дома, то вам её вручат. Если же нет, то узнать о том, что вам приносили повестку, можно будет узнать только в том случае, если об этом факте случайно узнали ваши родственники или соседи.
                    p Правда, на практике сотрудники военкомата порой могут попытаться сами разыскать вас и рассказать, что собираются отдать вам повестку. Сообщить об этом они могут по телефону или в SMS. Хотя сам по себе такой способ оповещения к повестке не приравнивается.
                    p Отмечу, что на портале Госуслуг никакие уведомления о выписанных повестках пока не рассылаются. Планируется, что ими будут дублироваться обычные бумажные повестки. Нашумевший закон, касающийся этого, уже был принят. Тем не менее, на практике всё это пока не работает.
                    p Однако, иногда повестки приносят не домой, а на работу. На работе вас, скорее всего, найдут. Кроме того, работодатель может попытаться связаться с вами, чтобы сообщить о том, что вас ждёт повестка.
                    .article-auto__widget
                        .article-auto__tag советуем почитать
                        .article-auto__title Электронные повестки в военкомат: получение через Госуслуги
                        .article-auto__desc 11-го апреля 2023-года Госдума РФ приняла нашумевший закон №127-ФЗ, в котором, в частности, идёт речь о создании....
                        .see-article__link
                            +icon('arrow-right')
                    h2.sub-title-2 Можно ли прийти в военкомат без повестки
                    p Принятый в этом году закон вроде бы обязывает призывника, не получившего повестку, являться в военкомат «для уточнения данных» во время следующего призыва. Опять же, как это требование будет работать на практике, и можно ли будет реально получить за это штраф – пока неясно.
                    p Однако, некоторые призывники сами интересуются тем, могут ли они сами явиться в военкомат добровольно, если повестку для призыва им не приносят. Например, это касается ситуации, когда молодому человеку полагается освобождение по состоянию здоровья, и он хочет быстрее получить военный билет, а повестку ему не несут.
                    p Повестку могут не приносить по разным причинам. Чаще всего это бывает из-за каких-то небольших ошибок и задержек, и повестку просто принесут несколько позже.
                    p Тем не менее, иногда бывает так, что повестку не приносят долго. Как правило, это связано с утерей так называемого личного дела. Впрочем, и тут вероятность того, что дело не найдётся до конца призывного возраста молодого человека – очень мала. Скорее всего, повестку всё равно принесут. Причём это могут сделать в самый неподходящий момент.
                    p Тем не менее, иногда бывает так, что повестку не приносят долго. Как правило, это связано с утерей так называемого личного дела. Впрочем, и тут вероятность того, что дело не найдётся до конца призывного возраста молодого человека – очень мала. Скорее всего, повестку всё равно принесут. Причём это могут сделать в самый неподходящий момент.
                    p Иногда большая задержка может оказаться на руку самому военкомату, а не призывнику. Я поясню.
                    p Есть болезни, которые освобождают от призыва только при условии, что за последнее определённое время они как-то проявлялись. Так, например, чтобы освободиться из-за эпилепсии нужно, чтобы у призывника был хотя бы один эпилептический приступ за последние пять лет.
                    .article-auto__widget
                        .article-auto__tag советуем почитать
                        .article-auto__title Как не пойти в армию по закону в 2023 году
                        .article-auto__desc 11-го апреля 2023-года Госдума РФ приняла нашумевший закон №127-ФЗ, в котором, в частности, идёт речь о создании....
                        .see-article__link
                            +icon('arrow-right')
                    .article-citate
                        .article-citate__desc Совершенно здоровых людей – тоже совсем немного. Поэтому всегда есть некоторая вероятность обнаружить у себя какое-нибудь несовместимое с армией заболевание.
                        .article-citate__author — Фенис Карама, юрист
                    h2.sub-title-2 Что делать если пришла повестка и военкомата
                    p Допустим, призывник с эпилепсией должен проходить медкомиссию в текущий призыв. Последний приступ у него был четыре года назад. Но повестку ему прислали с большим опозданием – только два года. При этом, приступов у него больше не было. Через два года на комиссии получается, что последний приступ случался шесть лет назад, а значит призывника нужно отправлять в армию!
                    p В общем, если у вас есть законные основания для освобождения от службы, вы стремитесь освободиться от армии, а повестку вам не дают, то лучше всего проконсультироваться у юристов относительно именно вашей ситуации. К сожалению, я не могу давать здесь какие-то более конкретные советы. Всё зависит от имеющихся нюансов.
                    p Наконец, я отвечу на самый главный для многих призывников вопрос: что же делать, если военкомат вручил вам «призывную» повестку.
                    p Напомню, что по закону от срочной службы освобождаются  следующие категории граждан:
                    ul
                        li Постоянно проживающие за границей.  В таких случаях положено сниматься с воинского учёта
                        li Обладатели учёной степени – кандидаты и доктора наук
                        li Сыновья и родные братья военнослужащих, погибших при исполнении обязанностей
                        li В некоторых (не во всех!) случаях – лица, уже отслужившие в армии другого государства
                        li Признанные не годными к службе по состоянию здоровья
                    p Если вы постоянно проживаете за рубежом и снялись для этого с учёта, то никакую повестку вам всё равно не принесут. А к следующим трём категориям может отнести себя лишь очень малая часть российских граждан.
                    p В большинстве случаев именно непригодность по медицинских соображениям освобождает молодого человека от призыва.
                    p Правда, я настоятельно советую не дотягивать до получения повестки, а подготовиться к призыву заранее. Мы с коллегами обычно начинаем готовить наших клиентов к призыву за три – четыре месяца до его начала. Впрочем, даже получив повестку, нельзя сдаваться. Просто действовать нужно грамотно и быстро.
                    p Для начала нужно просто выяснить, есть ли у вас какой-нибудь «непризывной» диагноз. Но это – лишь первый шаг. Если такой диагноз имеется, то дальше потребуется доказать своё право на освобождение военкомату. Иногда сделать это на практике может быть очень сложно.
                    p Может потребоваться собрать большое количество тех или иных медицинских документов. Решающее значение может иметь наличие того или иного симптома, причём наличие это должно быть доказано. Как юристам, нам часто приходится заниматься именно борьбой за право на освобождение.
                    .article-auto__widget
                        .article-auto__tag советуем почитать
                        .article-auto__title Как не пойти в армию по закону в 2023 году
                        .article-auto__desc 11-го апреля 2023-года Госдума РФ приняла нашумевший закон №127-ФЗ, в котором, в частности, идёт речь о создании....
                        .see-article__link
                            +icon('arrow-right')




