section.index-baner
    .container
        .index-wrapper
            .index-content
                .sub-title-2 Юридическая компания
                    span  Повесток.Нет®
                .sub-title__desc Защищаем права и интересы призывников с 2015 года
                .index-offers
                    .index-offer
                        +icon2('check')
                        span Бесплатная консультация
                    .index-offer
                        +icon2('check')
                        span Офисы в 57 городах РФ
                    .index-offer
                        +icon2('check')
                        span Не поможем - вернем деньги
                    .index-offer
                        +icon2('check')
                        span Официальный договор
                .button-2.index-record.min-w-433 Записаться на консультацию
            img.index-baner__img(src="/static/img/general/img4.png")