section.see-also
    .container
        .see-also__wrapper2
            .see-also__container
                .see-also__left
                    .sub-title Создаём полезные материалы для призывников уже более 7 лет
                .see-also__articles
                    .see-article
                        .see-article__text
                            .see-article__title ПРАКТИКА
                            .see-article__desc Полезная информация для призывников, советы юристов и развлекательный контент
                        a.see-article__link(href="/")
                            +icon('arrow-right')
                    .see-article
                        .see-article__text
                            .see-article__title ВИДЕО
                            .see-article__desc Полезная информация для призывников, советы юристов и развлекательный контент
                        a.see-article__link(href="/")
                            +icon('arrow-right')
                    .see-article
                        .see-article__text
                            .see-article__title СТАТЬИ
                            .see-article__desc Читайте статьи экспертов Повесток.Нет по военному праву
                        a.see-article__link(href="/")
                            +icon('arrow-right')
                    .see-article
                        .see-article__text
                            .see-article__title ВОПРОС-ОТВЕТ
                            .see-article__desc Юристы Повесток.Нет отвечают на актуальные вопросы
                        a.see-article__link(href="/")
                            +icon('arrow-right')