section.together
    .container
        .together-wrapper
            h2.sub-title-3 Начать совместную работу — просто
            ul.together-list
                li.together-item
                    .together-item__title БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ
                    .together-item__desc Юристы внимательно изучат ваше дело и сопоставят с юридической практикой, проанализируют документы, ответят на вопросы и предложат несколько вариантов решения поставленной задачи.
                li.together-item
                    .together-item__title ЗАКЛЮЧЕНИЕ ДОГОВОРА
                    .together-item__desc Если вы готовы доверить нам своё дело и мы поймём, что можем добиться нужного вам результата, юрист предложит вам заключить договор.
                li.together-item
                    .together-item__title Выполнение рекомендаций
                    .together-item__desc В зависимости от услуги юристы и привлечённые медицинские эксперты подготовят для вас индивидуальные рекомендации, которым вы должны следовать.
                li.together-item
                    .together-item__title Защита ваших прав и интересов
                    .together-item__desc Контролируем исполнение своих обязанностей и ваших прав в государственных органах для достижения поставленной цели.
            .button-2.min-w-373.together-button Записаться на встречу с юристом