section.site-reviews
    .container
        .site-reviews__wrapper
            .s-review__title Отзывы о Повесток.Нет на других сайтах
            .s-review__list
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('yandex')
                        .s-item__top
                            +icon('star')
                            span 4.9
                    .s-review__item-bottom 70+ отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('gis')
                        .s-item__top
                            +icon('star')
                            span 4.9
                    .s-review__item-bottom 70+ отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('spr')
                        .s-item__top
                            +icon('star')
                            span 4.9
                    .s-review__item-bottom 70+ отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('yell')
                        .s-item__top
                            +icon('star')
                            span 4.9
                    .s-review__item-bottom 70+ отзывов