section.test-block
    .container
        .test-wrapper
            h2.sub-title-3 Получится ли у вас освободиться от службы?
            .test-desc Пройди тест и узнай, есть ли у тебя основания для законного получения военного билета по состоянию здоровья.
            a.button-2.min-w-292(href="/") Пройти тест
            .test-time
                +icon2('clock')
                span 1 минута
