.videos
  padding-top 0
  .video-employer__list
    margin-bottom 48px
.video-load-more
  margin 0 auto
.about-data__wrapper
  display flex
  margin-bottom 50px
.about-data__left
  width 30%
.about-data__right
  width 70%
.about-data__sticky
  display inline-block
  position sticky
  top 120px
.about-data__container
  display flex
  background-color #fff
  border-radius 23px
  padding 60px
  img
    size(270px)
    border-radius 50%
  .button-2
    font-weight 400
.about-container__title
  font-family 'Montserrat',sans-serif
  font-size 28px
  font-weight 600
  color #1D212C
.about-container__desc
  font-size 20px
  color #7C7C7C
  margin-bottom 20px
.about-container__text
  font-size 18px
  color #000
  margin-bottom 26px
.about-container__left
  margin-right 37px
.about-data__sticky
  padding-bottom 0
.about-data__slider
  display flex
  flex-direction column
  overflow hidden
  border-radius 23px
  max-height 475px
  position relative
  margin-bottom 20px
  img
    width 100%
    height 100%
  .swiper-pagination
    display block
.about-data__right
  h2
    font-family 'Montserrat',sans-serif
    font-size 32px
    color #1D212C
    margin-bottom 18px
  p
    font-size 18px
    color #000
    margin-bottom 25px
.adr-content
  img
    width 100%
    height 100%
    object-fit cover
    max-height 475px
    border-radius 23px
    margin-bottom 50px
.about-data__slider-wrapper
  margin-bottom 70px
