section.rule-hub-time
    .container
        .rule-hub__wrapper
            h2.sub-title Статья 27
            .sub-title__desc.std-rule-hub Актуальная версия Постановления Правительства Об утверждении Положения о военно-врачебной экспертизе» – глава 6 «Болезни нервной системы»
            .rule-time__tag
                +icon('eye')
                span 83
            .rule-hub-content
                .rule-hub-content__section
                    .rule-section__left
                        .rule-section__widget
                            h2.sub-title-3 Получится ли у вас освободиться от службы?
                            .sub-title__desc Пройди тест и узнай, есть ли у тебя основания для законного получения военного билета по состоянию здоровья.
                            .rule-time__tag
                                +icon2('clock5')
                                span 1 минута
                            .rule-widget__icon
                                +icon2('vector1')
                            .button-2 Пройти тест
                    .rule-section__right
                        .rule-section__dropdown
                            .rule-section__dropdown-top
                                .rule-dropdown__title Глава 6. Болезни нервной системы
                                .rule-dropdown__icon
                                    +icon('arrow-down')
                            .rule-section__dropdown-bottom
                                .rule-dropdown__item
                                    .rule-dropdown__item-title Статья 21
                                    .rule-dropdown__item-desc Эпилепсия и эпилептические приступы
                                .rule-dropdown__item
                                    .rule-dropdown__item-title Статья 22
                                    .rule-dropdown__item-desc Воспалительные, демиелинизирующие болезни центральной нервной системы и их последствия
                                .rule-dropdown__item
                                    .rule-dropdown__item-title Статья 23
                                    .rule-dropdown__item-desc Эпилепсия и эпилептические приступы
                        p
                            strong="Для значительного нарушения функций "
                            | нервной системы характерны снижение мышечной силы конечностей от 0 до 2 баллов , выраженная дисфагия, афония, тазовые расстройства, выраженные мозжечковые и экстрапирамидные нарушения, выраженные нарушения праксиса, гнозиса, речи.
                        br

                        p
                            strong="Для умеренного нарушения функций "
                            | нервной системы характерны снижение мышечной силы конечностей 3 балла , умеренно выраженные дисфагия, дизартрия, мозжечковые и экстрапирамидные нарушения, гипертензионно-гидроцефальный синдром, подтвержденный методами нейровизуализации, а также повторными люмбальными пункциями с цифрами ликворного давления более 200 мм водяного столба (вод. ст.) (в положении исследуемого лежа), либо однократном подтверждении ликворной гипертензии с наличием застойных дисков зрительных нервов на глазном дне.'
                        br
                        p
                            strong="Для незначительного нарушения функций "
                            | нервной системы характерны снижение мышечной силы конечностей 4 балла , легкие дисфагия, дизартрия, мозжечковые и экстрапирамидные нарушения.
                        br
                        p Если иное не оговорено в соответствующей статье расписания болезней.По 6-балльной шкале оценки мышечной силы (L. McPeak, 1996; М. Вейсс, 1986).

                .rule-hub-content__fullwidth
                    h2.sub-title-2 Статья 21 |
                        span  Эпилепсия и эпилептические приступы
                    .rule-fullwidth__list
                        .rule-fullwidht__item
                            .rule-fullwidth__left При эпилептических приступах с частотой 5 и более раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д
                        .rule-fullwidht__item
                            .rule-fullwidth__left При однократном эпилептическом приступе в анамнезе в течение последних 5 лет или редких эпилептических приступах с частотой менее 5 раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Б (В — ИНД)
                        .rule-fullwidht__item
                            .rule-fullwidth__left при однократном эпилептическом приступе в анамнезе (более 5 лет) или наличии эпилептиформной активности, выявленной по результатам электроэнцефалографии, без клинических проявлений
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д
                .rule-hub-content__section
                    .rule-section__left
                        a.rule-section__widget(href='/')
                            .recommend-test__article-top
                                .recommend-test__tab Советуем почитать
                                +icon('right-arrow')
                            .recommend-test__article-bot
                                .recommend-test__article-title Как не пойти в армию по закону в 2023 году
                                .recommend-test__article-desc
                                    | Объясняем, какие есть законные способы избежать службы по призыву в российской армии.

                    .rule-section__right

                        p Эпилепсия — состояние, характеризующееся повторными (2 и/или более) эпилептическими приступами, не спровоцированными какими-либо немедленно определяемыми причинами. Эпилептический приступ — клиническое проявление аномального или избыточного разряда нейронов мозга. Клиническая картина представлена внезапными и транзиторными патологическими феноменами (изменения сознания, двигательные, чувствительные, вегетативные, психические симптомы, отмеченные пациентом или наблюдателем).
                        br
                        p К этой статье не относятся приступы, связанные с отменой алкоголя, развившиеся сразу после или в раннем периоде (до 10 недель) черепно-мозговой травмы, вызванные опухолью головного мозга, лекарственными препаратами или другими химическими агентами, возникшие при соматогенно обусловленных метаболических энцефалопатиях, энцефалопатиях, вызванных воздействием неблагоприятных физических факторов, фебрильные судороги.
                        br
                        p Наличие приступа должно быть подтверждено врачебным наблюдением, также могут быть приняты во внимание другие медицинские документы, подтверждающие эпилептический приступ. Для подтверждения наличия приступа эпилепсии могут приниматься во внимание письменные свидетельства очевидцев, если описание приступа дает основание считать его эпилептическим. При этом подлинность подписей очевидцев эпилептических приступов должна быть нотариально удостоверена или письменно заверена командиром воинской части.
                        br
                        p Лица, перенесшие эпилептический статус с подтвержденным стационарно диагнозом эпилепсии, освидетельствуются по пункту «а» независимо от частоты эпилептических приступов.
                        br
                        p В случаях, когда документами медицинской организации подтверждается установленный диагноз эпилепсии в прошлом, но за последние 5 лет эпилептические приступы не наблюдались, освидетельствование проводится по пункту «б» независимо от результатов электроэнцефалографии при обследовании.
                        br
                        p При эпилепсии, проявляющейся только простыми парциальными эпилептическими приступами или эпилептическими приступами, развивающимися только во сне, освидетельствование проводится по пункту «б» вне зависимости от частоты приступов.
                        br
                        p При наличии эпилептиформной активности, выявленной по результатам электроэнцефалографии (пики, острые волны, все виды комплексов пик-волна, полиспайки, фотопароксизмальная реакция), без клинических проявлений освидетельствование проводится по пункту «в».
                        br
                        p Лица с эпилептическими приступами не годны к управлению транспортными средствами, к работе на высоте, у движущихся механизмов, огня и воды.
                .rule-hub-content__fullwidth
                    h2.sub-title-2 Статья 22 |
                        span  Воспалительные, демиелинизирующие болезни центральной нервной системы и их последствия
                    .rule-fullwidth__list
                        .rule-fullwidht__item
                            .rule-fullwidth__left При эпилептических приступах с частотой 5 и более раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д
                        .rule-fullwidht__item
                            .rule-fullwidth__left При однократном эпилептическом приступе в анамнезе в течение последних 5 лет или редких эпилептических приступах с частотой менее 5 раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Б (В — ИНД)
                        .rule-fullwidht__item
                            .rule-fullwidth__left при однократном эпилептическом приступе в анамнезе (более 5 лет) или наличии эпилептиформной активности, выявленной по результатам электроэнцефалографии, без клинических проявлений
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д
                .rule-hub-content__section
                    .rule-section__left
                        a.rule-section__widget(href='/')
                            .recommend-test__article-top
                                .recommend-test__tab Советуем почитать
                                +icon('right-arrow')
                            .recommend-test__article-bot
                                .recommend-test__article-title Как не пойти в армию по закону в 2023 году
                                .recommend-test__article-desc
                                    | Объясняем, какие есть законные способы избежать службы по призыву в российской армии.

                    .rule-section__right

                        p Эпилепсия — состояние, характеризующееся повторными (2 и/или более) эпилептическими приступами, не спровоцированными какими-либо немедленно определяемыми причинами. Эпилептический приступ — клиническое проявление аномального или избыточного разряда нейронов мозга. Клиническая картина представлена внезапными и транзиторными патологическими феноменами (изменения сознания, двигательные, чувствительные, вегетативные, психические симптомы, отмеченные пациентом или наблюдателем).
                        br
                        p К этой статье не относятся приступы, связанные с отменой алкоголя, развившиеся сразу после или в раннем периоде (до 10 недель) черепно-мозговой травмы, вызванные опухолью головного мозга, лекарственными препаратами или другими химическими агентами, возникшие при соматогенно обусловленных метаболических энцефалопатиях, энцефалопатиях, вызванных воздействием неблагоприятных физических факторов, фебрильные судороги.
                        br
                        p Наличие приступа должно быть подтверждено врачебным наблюдением, также могут быть приняты во внимание другие медицинские документы, подтверждающие эпилептический приступ. Для подтверждения наличия приступа эпилепсии могут приниматься во внимание письменные свидетельства очевидцев, если описание приступа дает основание считать его эпилептическим. При этом подлинность подписей очевидцев эпилептических приступов должна быть нотариально удостоверена или письменно заверена командиром воинской части.
                        br
                        p Лица, перенесшие эпилептический статус с подтвержденным стационарно диагнозом эпилепсии, освидетельствуются по пункту «а» независимо от частоты эпилептических приступов.
                        br
                        p В случаях, когда документами медицинской организации подтверждается установленный диагноз эпилепсии в прошлом, но за последние 5 лет эпилептические приступы не наблюдались, освидетельствование проводится по пункту «б» независимо от результатов электроэнцефалографии при обследовании.
                        br
                        p При эпилепсии, проявляющейся только простыми парциальными эпилептическими приступами или эпилептическими приступами, развивающимися только во сне, освидетельствование проводится по пункту «б» вне зависимости от частоты приступов.
                        br
                        p При наличии эпилептиформной активности, выявленной по результатам электроэнцефалографии (пики, острые волны, все виды комплексов пик-волна, полиспайки, фотопароксизмальная реакция), без клинических проявлений освидетельствование проводится по пункту «в».
                        br
                        p Лица с эпилептическими приступами не годны к управлению транспортными средствами, к работе на высоте, у движущихся механизмов, огня и воды.
                        br
                        p Критериями выраженных клинических проявлений синдрома повышения внутричерепного давления считают:
                        ul
                            li наличие головной боли, рвоты, глазодвигательных нарушений, когнитивных нарушений, нарушений походки, нарушений функции тазовых органов, застойных дисков зрительных нервов или вторичной атрофии дисков зрительных нервов;
                            li ликворное давление при люмбальной пункции свыше 300 мм вод. ст.;
                            li перивентрикулярный отек.

                .rule-hub-content__fullwidth
                    h2.sub-title-2 Статья 22 |
                        span  Системные атрофии, поражающие преимущественно центральную нервную систему, экстрапирамидные, другие дегенеративные болезни нервной системы, болезни нервно-мышечного синапса и мышц, детский церебральный паралич, врожденные аномалии (пороки развития) нервной системы, опухоли головного, спинного мозга
                    .rule-fullwidth__list
                        .rule-fullwidht__item
                            .rule-fullwidth__left При эпилептических приступах с частотой 5 и более раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д
                        .rule-fullwidht__item
                            .rule-fullwidth__left При однократном эпилептическом приступе в анамнезе в течение последних 5 лет или редких эпилептических приступах с частотой менее 5 раз в год
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Б (В — ИНД)
                        .rule-fullwidht__item
                            .rule-fullwidth__left при однократном эпилептическом приступе в анамнезе (более 5 лет) или наличии эпилептиформной активности, выявленной по результатам электроэнцефалографии, без клинических проявлений
                            .rule-fullwidth__right
                                .rule-fullwidth__right-title Категория годности к военной службе
                                .rule-fullwidth__graf-list
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name I графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name II графа
                                        .rule-graf__desc Д
                                    .rule-fullwidth__graf-item
                                        .rule-graf__name III графа
                                        .rule-graf__desc Д

