footer
  flex 0 0 auto
  background-color #272727
.footer-wrapper
  display flex
  justify-content space-between
  padding: 20px 0px 40px 0px;

.footer-left,.footer-right
  display flex
  flex-direction column
.footer__data
  display flex
  align-items center
  color #fff
  font-size 15px
  margin-bottom 11px
  &:last-child
    margin-bottom 0

.footer-data__text
  margin-right 16px



