.sub-title__block
  display flex
  flex-direction column
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #3d3c3c;
  padding-bottom: 28px;
  line-height 1.2
.test-online
  padding-top 0