.rule-hub-time
  padding-top 0
  .rule-time__tag
    display flex
    align-items center
    color #6B6B6B
    font-family 'Montserrat',sans-serif
    font-size 16px
    line-height 1.2
    .icon
      size(18px)
      fill #6B6B6B
      margin-right 8px
.rule-hub-content__section
  display flex
  gap 30px
  margin-bottom 50px
.rule-section__left
  width 30%
.rule-section__right
  width 70%
.rule-section__widget
  display: block;
  position: sticky;
  top: 120px;
  background-color #fff
  border-radius 23px
  padding: 42px 36px;
  .sub-title__desc
    text-align center
    margin-bottom 20px
  .sub-title-3
    line-height 1
  .rule-time__tag
    margin 0 auto
    margin-bottom 20px
  .button-2
    min-width 100%
    font-weight 400
    font-size 16px
.rule-widget__icon
  display flex
  justify-content center
  align-items center
.std-rule-hub
  padding-right 40%
  margin-bottom 20px
.rule-section__dropdown
  background-color #fff
  border-radius 23px
  padding 45px
  margin-bottom 40px
.rule-section__dropdown-top
  display flex
  justify-content space-between
  align-items center
  cursor pointer
.rule-dropdown__icon
  .icon
    size(24px)
    fill #1C274C
.rule-dropdown__title
  font-family 'Montserrat',sans-serif
  font-size 24px
  color #3C3C3C
  font-weight 700
.rule-section__dropdown-bottom
  margin-top 20px
  padding-top 15px
  border-top 1px solid #CBCBCB
.rule-dropdown__item-title
  font-family 'Montserrat',sans-serif
  font-size 20px
  font-weight 700
  color #3D3C3C
  margin-bottom 12px
.rule-dropdown__item-desc
  font-size 18px
  color #3D3C3C
.rule-dropdown__item
  margin-bottom 25px
  &:last-child
    margin-bottom 0
.rule-section__right
  p
    font-size 18px
  ul
    display list-item
    margin-top 12px
    li
      margin-bottom 12px
      list-style-type disc
      margin-left 20px
      font-size 18px
.rule-hub-content__fullwidth
  padding 48px 55px
  background-color #fff
  border-radius 23px
  margin-bottom 40px
.rule-fullwidht__item
  display flex
  justify-content space-between
  gap 25px
  background-color #f5f5f5
  border-radius 23px
  padding 32px 26px
  margin-bottom 18px
  &:last-child
    margin-bottom 0
.rule-fullwidth__left
  width 50%
  font-weight 600
  font-size 18px
  color #3D3C3C
.rule-fullwidth__right
  width 50%
.rule-fullwidth__graf-item
  display flex
  align-items center
.rule-graf__desc
  font-size 18px
  text-transform uppercase
  background-color #CECECE
  padding 18px 19px
  line-height 0.78
  border-radius 41px
  white-space nowrap
  color #000
.rule-fullwidth__right-title
  font-size 20px
  margin-bottom 18px
  color #3D3C3C
.rule-graf__name
  font-size 18px
  margin-right 12px
  white-space nowrap
.rule-fullwidth__graf-list
  display grid
  grid-template-columns repeat(3,1fr)
  gap 45px

