.question-video__wrapper
  display flex
  justify-content space-between
  align-items center
.question-video__left
  padding-right 130px
  .sub-title-2
    padding-bottom 12px

.question-video__left,.question-video__right,.question-m-video__right
  width 48%
.question-m-video__right
  display none
.question-video__right,.question-m-video__right
  display flex
  justify-content center
  align-items center
  cursor pointer
  transition ease .3s
  &:hover
    .icon
      fill #E0202B
  .icon
    position absolute
    size(93px)
    fill #fff
    transition ease .3s
  img
    size(100%)
.question-video__desc
  margin-bottom 24px
