.law-container
  display flex
.law-image
  display flex
  justify-content center
  align-items center
  width 38%
  .icon
    size(303px,307px)
.law-text
  width 62%
.law-text__desc
  font-size 18px
  color #686868