.confidence-list
  display grid
  grid-template-columns: repeat(4, 1fr);
  gap 28px
.confidence-item
  display flex
  flex-direction column
  align-items center
  background-color #fff
  border-radius 17px
  padding: 54px 18px;
  .icon
    size(33px)
    fill #E0202B
    margin-bottom 28px
.confidence-title
  font-family 'Montserrat',sans-serif
  font-size 24px
  font-weight 600
  margin-bottom 20px
  color #3D3C3C
.confidence-desc
  font-size 18px
  color #686868
  text-align center
  padding: 0 35px;
