.calccost-wrapper,.question-video__wrapper,.use-wrapper,.steps-wrapper,.risk-wrapper,.faq-wrapper
  border-radius 23px
  background-color #fff
  padding: 42px 36px 36px 36px;
.calccost-button
  margin-bottom 32px
.calccost-offers
  margin-bottom 0