.form-question__wrapper
  position relative
  border-radius 23px
  background-color #E7E7E7
  padding 62px 36px
  overflow hidden
.f-question__title
  font-size 36px
  font-family 'Montserrat',sans-serif
  font-weight 700
  color #3D3C3C
.f-question__desc
  font-size 18px
  color #686868
  margin-bottom 42px
.f-connect__social
  display flex
  align-items center
  margin-bottom 32px
.f-connect__title
  font-size 20px
  color #3D3C3C
  margin-bottom 12px
.f-question__form
  display flex
  align-items center
  margin-bottom 12px
  input
    margin-right 28px
    width 100%
.form-question__container
  width 60%
.form-question__baner
  position absolute
  width: 50%;
  bottom: 0;
  right: 0;
.f-question__attention
  font-size 16px
  color #9F9F9F


