.risk-container
  display flex
.risk-image
  display flex
  justify-content center
  align-items center
  width 38%
  .icon
    size(303px,307px)
.risk-text
  width 62%
  .sub-title-2
    padding-bottom 20px
.risk-text__desc
  font-size 18px
  color #686868
  margin-bottom 42px
.risk-list
  display grid
  grid-template-columns: repeat(3, 1fr);
  gap 10px
.risk-item
  display flex
  flex-direction column
.risk-item__rule
  display flex
  align-items center
  justify-content center
  background-color #F5F5F5
  border-radius 31px
  height 23px
  width max-content
  padding 13px
  color #E0202B
  font-family 'Montserrat',sans-serif
  font-size 18px
  font-weight 600
  margin-bottom 12px
.risk-item__desc
  font-size 18px
  font-weight 400
  color #3D3C3C