.steps-list
  display grid
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
.steps-item
  display flex
  flex-direction column
  align-items center
  padding: 32px 20px;
  span
    text-align center
    font-size 18px
    color #686868
.steps-item__icon
  display flex
  justify-content center
  align-items center
  background-color #E0202B
  border-radius 50%
  margin-bottom 20px
  size(54px)
  .icon
    size(14px)
    fill #fff