.offer
  padding-top 0
.offer-wrapper
  display: grid;
  //grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 239px 50% 1fr;
.offer-info
  background-color #fff
  border-radius 23px
  padding 42px 36px 36px 36px
  //width 66.6666%
  margin-right 28px
  grid-row: 1;
  grid-column: 1/3;
  grid-gap: 20px;
.offer-rating-count
  font-size 18px
  font-weight 700
  color #686868
  span
    font-weight 400
    margin-left 5px
.offer-rating
  display flex
  align-items center
  margin-bottom 20px
  .icon
    size(24px)
    fill #FFC700
    margin-right 4px
.offer-desc
  font-size 24px
  color #3D3C3C
  margin-bottom 20px
.offer-picture
  grid-row: 1;
  grid-column: 3/4;
  width 100%
  img
    width 100%
    height 100%
    object-fit cover
    border-radius 26px
.offer-options,.calccost-offers
  display flex
  flex-wrap wrap
  gap 16px
  margin-bottom 32px
.offer-option,.calccost-offer,.index-offer
  display flex
  align-items center
  height 42px
  padding 7px 16px
  background-color #F5F5F5
  border-radius 34px
  .icon
    size(27px)
    margin-right 8px
  span
    font-size 16px
.offer-tab
  display flex
  align-items center
  justify-content space-between
  background-color #F0F0F0
  padding 24px 36px
  border-radius 21px
.offer-price
  font-weight 700
  font-family 'Montserrat',sans-serif
  font-size 28px
  color #3D3C3C
.offer-credit
  font-family 'Montserrat',sans-serif
  font-weight 500
  font-size 24px
  color #9F9F9F
  font-style italic
.offer-credit__discont
  font-family 'Montserrat',sans-serif
  font-weight 500
  font-size 24px
  color #9F9F9F
  text-decoration line-through