.main-title
  font-family 'Montserrat',sans-serif
  font-size 36px
  font-weight 700
  color #1D212C
  padding-bottom 20px
.sub-title
  font-family 'Montserrat',sans-serif
  font-size 36px
  font-weight 700
  color #1D212C
  padding-bottom 28px
.sub-title-2
  font-family 'Montserrat',sans-serif
  font-size 32px
  font-weight 700
  color #1D212C
  padding-bottom 28px
  span
    color #E0202B
.sub-title-3
  font-family 'Montserrat',sans-serif
  font-size 32px
  font-weight 700
  color #1D212C
  padding-bottom 28px
  text-align center
.sub-title-2__gray
  font-family 'Montserrat',sans-serif
  font-size 32px
  font-weight 700
  color #686868
  padding-bottom 28px
.sub-title__desc-mobile
  font-size 16px
  color #686868
  display none
.sub-title__desc
  font-size 18px
  color #686868
.slider-container
  display flex
  align-items center
  justify-content space-between
  margin-bottom 20px
.pb-16
  padding-bottom 16px