section.we-use
    .container
        .use-wrapper
            h2.sub-title-3 Используем в своей работе
            .use-list
                .use-item
                    +icon2('clipboard-text')
                    span ФЕДЕРАЛЬНЫЙ ЗАКОН №53 “О ВОИНСКОЙ ОБЯЗАННОСТИ И ВОЕННОЙ СЛУЖБЕ”
                .use-item
                    +icon2('clipboard-text')
                    span ПОЛОЖЕНИЕ "О ВОЕННО-ВРАЧЕБНОЙ  ЭКСПЕРТИЗЕ"
                .use-item
                    +icon2('clipboard-text')
                    span ПОЛОЖЕНИЕ "О ПРИЗЫВЕ НА ВОЕННУЮСЛУЖБУ ГРАЖДАН РОССИЙСКОЙ ФЕДЕРАЦИИ"
                .use-item
                    +icon2('clipboard-text')
                    span ФЕДЕРАЛЬНЫЙ ЗАКОН "ОБ ОСНОВАХ ОХРАНЫ ЗДОРОВЬЯ ГРАЖДАН В РОССИЙСКОЙ ФЕДЕРАЦИИ" ОТ 21.11.2011 N 323-ФЗ