section.confidence
    .container
        .confidence__wrapper
            h2.sub-title-3 Почему призывники доверяют нам
            .confidence-list
                .confidence-item
                    +icon('ok')
                    .confidence-title Прозрачный договор
                    .confidence-desc Заключим с вами официальный договор оказания услуг. Вы будете защищены законом “О защите прав потребителей”.
                .confidence-item
                    +icon('ok')
                    .confidence-title Рассрочка платежа
                    .confidence-desc Наши услуги можно оплачивать в рассрочку до 12 месяцев без участия банков. Платежи от 4100 руб./месяц в зависимости города.
                .confidence-item
                    +icon('ok')
                    .confidence-title Работаем по всей РФ
                    .confidence-desc Представительства компании открыты в 55 городах России, а в тех городах, где нас нет, мы помогаем дистанционно.
                .confidence-item
                    +icon('ok')
                    .confidence-title Вернем деньги
                    .confidence-desc Если мы не сможем вам помочь, вернем вам 100% нашего гонорара. Данное условие прописано в договоре.

