section.calccost
    .container
        .calccost-wrapper
            h2.calccost-title.sub-title Рассчитайте точную стоимость услуги в вашем городе
            .button-2.min-w-366.calccost-button Рассчитать стоимость
            .calccost-offers
                .calccost-offer
                    +icon2('convert-card-black')
                    span Возврат средств в случае неудачи
                .calccost-offer
                    +icon2('like-black')
                    span 94% клиентов довольны услугами
                .calccost-offer
                    +icon2('circle-black')
                    span 1680 призывников уже получили билет с нашей помощью





