section.form-question
    .container
        .form-question__wrapper
            .form-question__container
                .f-question__title Ответим на ваши вопросы
                .f-question__desc Проконсультируем по всем вопросам призыва на срочную службу
                .f-question__connect
                    .f-connect__title Как с вами связаться
                    .f-connect__social.radio-wrapper
                        .f-social__phone.radio-flex
                            .radio
                            span По телефону
                        .f-social__whatsapp.radio-flex
                            .radio
                            span Whatsapp
                        .f-social__telegram.radio-flex
                            .radio
                            span Telegram
                form.f-question__form
                    input.input-class(type="tel" placeholder="+7 (___) ___-__-__" data-mask="+7 (000) 000-00-00")
                    button.button-2.min-w-318 Оставить заявку
                .f-question__attention Отправляя заявку вы соглашаетесь с политикой обработки персональных данных.
            img.form-question__baner(src="/static/img/general/img3.png")
