section.faq
    .container
        .faq-wrapper
            h2.sub-title-3 Частые вопросы от призывников
            .faq-list
                .faq-item
                    .faq-question
                        span Какие гарантии?
                        .faq-icon
                            +icon('arrow-down2')
                    .faq-answer В случае если у нас не получится найти у вас законные основания для освобождения от службы в армии, мы либо предложим вам вернуть все деньги по договору, либо предложим вам услуги по защите от незаконных действий военкомата до 27 лет.
                .faq-item
                    .faq-question
                        span А если я здоров?
                        .faq-icon
                            +icon('arrow-down2')
                    .faq-answer В случае если у нас не получится найти у вас законные основания для освобождения от службы в армии, мы либо предложим вам вернуть все деньги по договору, либо предложим вам услуги по защите от незаконных действий военкомата до 27 лет.
                .faq-item
                    .faq-question
                        span Можно ли с вашей помощью купить военник?
                        .faq-icon
                            +icon('arrow-down2')
                    .faq-answer В случае если у нас не получится найти у вас законные основания для освобождения от службы в армии, мы либо предложим вам вернуть все деньги по договору, либо предложим вам услуги по защите от незаконных действий военкомата до 27 лет.
                .faq-item
                    .faq-question
                        span Сколько будет стоить получить военный билет с вашей помощью и сколько времени займет весь процесс?
                        .faq-icon
                            +icon('arrow-down2')
                    .faq-answer В случае если у нас не получится найти у вас законные основания для освобождения от службы в армии, мы либо предложим вам вернуть все деньги по договору, либо предложим вам услуги по защите от незаконных действий военкомата до 27 лет.
                .faq-item
                    .faq-question
                        span Как долго длиться процесс?
                        .faq-icon
                            +icon('arrow-down2')
                    .faq-answer В случае если у нас не получится найти у вас законные основания для освобождения от службы в армии, мы либо предложим вам вернуть все деньги по договору, либо предложим вам услуги по защите от незаконных действий военкомата до 27 лет.
