section.law
    .container
        .law-wrapper
            .law-container
                .law-image
                    +icon2('Illustration')
                .law-text
                    .sub-title-2 Работаем строго
                        span=" в рамках закона!"
                    .law-text__desc Мы не пропагандируем уклонение от армии и признаем, что воинская обязанность – это долг каждого гражданина РФ.
                        br
                        br
                        | Однако в законе четко прописаны условия для зачисления призывника в запас, одним из таких условий является освобождение по состоянию здоровья. Если призывник имеет непризывной диагноз, соответсвующий Расписанию болезней, он освобождается от службы.
                        br
                        br
                        | Закон всегда на стороне тех, кто умеет им пользоваться. Это одна из причин, по которой у призывников не получается добиться результатов самостоятельно.