section.risk
    .container
        .risk-wrapper
            .risk-container
                .risk-image
                    +icon2('risk')
                .risk-text
                    .sub-title-2 Вы ничем не рискуете!
                    .risk-text__desc Все договоренности между компанией и клиентом фиксируются в договоре. Наша гарантия - это возврат средств в случае неудачи.
                    .risk-list
                        .risk-item
                            .risk-item__rule 3.6
                            .risk-item__desc
                                strong="Предметом договора "
                                | является юридическая помощь по зачислению призывника в запас.
                        .risk-item
                            .risk-item__rule 4.4
                            .risk-item__desc
                                strong="Стоимость услуг "
                                |  фиксируется в момент подписания договора и не подлежит изменению.
                        .risk-item
                            .risk-item__rule 3.13
                            .risk-item__desc В случае, если Исполнитель не может исполнить свои обязательства,
                                strong="он обязан вернуть Заказчику все средства"
                                |, уплаченные по договору.
