section.offer
    .container
        .offer-wrapper
            .offer-info
                h1.offer-title.main-title Военный билет законно
                .offer-rating
                    +icon('star')
                    .offer-rating-count 4.9
                        span на основе 2889 отзывов реальных клиентов
                .offer-desc Комплекс юридических услуг, целью которых является зачисление призывника в запас ВС РФ и получение военного билета на законных основаниях
                .offer-options
                    .offer-option
                        +icon2('book')
                        span Предмет договора: зачисление в запас
                    .offer-option
                        +icon2('tick')
                        span Фиксированная стоимость договора
                    .offer-option
                        +icon2('convert-card')
                        span Возврат средств в случае неудачи
                    .offer-option
                        +icon2('time')
                        span Срок договора: бессрочно до зачисления в запас
                    .offer-option
                        +icon2('clock')
                        span Рассрочка до 12 месяцев от компании
                .offer-tab
                    .offer-price от 84 900 ₽
                    .offer-credit в рассрочку от 4 287 ₽/мес
            .offer-picture
                img(src="../static/img/general/img1.png")

