section.tarif
    .container
        h2.sub-title-2 Наши тарифы
        .sub-title__desc-mobile Целью любого тарифа является законное освобождение от службы в армии и получение военного билета
        .tarif-advantages
            .tarif-advantages__item
                .t-item__tag.t-tag__orange самый экономичный
                .t-item__name БАЗОВЫЙ
                .t-item__list
                    .t-item__par
                        +icon('ok')
                        span Очные консультации юриста
                    .t-item__par
                        +icon('ok')
                        span Личное сопровождение юриста на призывных мероприятиях
                    .t-item__par
                        +icon('ok')
                        span Защита от силового призыва
                    .t-item__par
                        +icon2('minus-square1')
                        span Представительство в суде
                    .t-item__par
                        +icon2('minus-square1')
                        span Приоритет при получении любых консультаций
                    .t-item__par
                        +icon2('minus-square1')
                        span Работу с вами ведёт главный юрист компании Ирина Усманова
                    .t-item__par
                        +icon2('minus-square1')
                        span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                    .t-item__par
                        +icon2('minus-square1')
                        span Выделенный канал связи 24/7
            .tarif-advantages__item
                .t-item__tag.t-tag__green Выбирают 85% наших клиентов
                .t-item__name ОПТИМАЛЬНЫЙ
                .t-item__list
                    .t-item__par
                        +icon('ok')
                        span Очные консультации юриста
                    .t-item__par
                        +icon('ok')
                        span Личное сопровождение юриста на призывных мероприятиях
                    .t-item__par
                        +icon('ok')
                        span Защита от силового призыва
                    .t-item__par
                        +icon('ok')
                        span Представительство в суде
                    .t-item__par
                        +icon2('minus-square2')
                        span Приоритет при получении любых консультаций
                    .t-item__par
                        +icon2('minus-square1')
                        span Работу с вами ведёт главный юрист компании Ирина Усманова
                    .t-item__par
                        +icon2('minus-square1')
                        span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                    .t-item__par
                        +icon2('minus-square2')
                        span Выделенный канал связи 24/7
            .tarif-advantages__item
                .t-item__tag.t-tag__yellow для самых требовательных
                .t-item__name VIP
                .t-item__list
                    .t-item__par
                        +icon('ok')
                        span Очные консультации юриста
                    .t-item__par
                        +icon('ok')
                        span Личное сопровождение юриста на призывных мероприятиях
                    .t-item__par
                        +icon('ok')
                        span Защита от силового призыва
                    .t-item__par
                        +icon('ok')
                        span Представительство в суде
                    .t-item__par
                        +icon('ok')
                        span Приоритет при получении любых консультаций
                    .t-item__par
                        +icon('ok')
                        span Работу с вами ведёт главный юрист компании Ирина Усманова
                    .t-item__par
                        +icon('ok')
                        span Выезды на призывные мероприятия на усмотрение клиента, а не компании
                    .t-item__par
                        +icon('ok')
                        span Выделенный канал связи 24/7


