section.steps
    .container
        .steps-wrapper
            .steps-list
                .steps-item
                    .steps-item__icon
                        +icon2('close-white')
                    span Мы не занимаемся выдачей и оформлением военных билетов
                .steps-item
                    .steps-item__icon
                        +icon2('close-white')
                    span Мы не занимаемся посредничеством в даче взяток
                .steps-item
                    .steps-item__icon
                        +icon2('close-white')
                    span Мы не занимаемся подделкой медицинских документов