section.social-baner
    .container
        .social-baner__wrapper
            .s-baner__text
                .s-baner__title Подпишитесь на наши социальные сети
                .s-baner__desc Отвечаем на вопросы в социальных сетях, публикуем советы призывникам и рассказываем о своей работе.
            .s-baner__links
                a.s-baner__link(href="/")
                    img(src="/static/img/general/social/telega.png")
                    .s-baner__name Telegram
                    .s-baner__count
                        +icon2('profile')
                        span 4000
                a.s-baner__link(href="/")
                    img(src="/static/img/general/social/vk.png")
                    .s-baner__name ВКонтакте
                    .s-baner__count
                        +icon2('profile')
                        span 4000
                a.s-baner__link(href="/")
                    img(src="/static/img/general/social/dzen.png")
                    .s-baner__name Дзен
                    .s-baner__count
                        +icon2('profile')
                        span 4000
                a.s-baner__link(href="/")
                    img(src="/static/img/general/social/youtube.png")
                    .s-baner__name Youtube
                    .s-baner__count
                        +icon2('profile')
                        span 4000