section.question-video
    .container
        .question-video__wrapper
            .question-video__left
                h2.sub-title-2 Преимущества Повесток.Нет
                .sub-title__desc.question-video__desc Посмотрите видеоролик о нашей компании и узнайте больше об услугах, которые мы предоставляем.
                .button-2.min-w-366 Задать вопрос
            .question-video__right
                +icon('play')
                img(src="/static/img/general/img2.png")

