section.reviews
    .container
        .slider-container
            h2.sub-title-2.pb-0 Отзывы наших клиентов
            .sub-title__desc-mobile С полным каталогом отзывов можно ознакомиться на бесплатной первичной встрече с юристом.
            .slider-navigation
                .review-button-prev
                    +icon('arrow-left')
                .review-button-next
                    +icon('arrow-right')
        .reviews-wrapper
            .swiper.reviews-slider
                ul.swiper-wrapper
                    li.swiper-slide.reviews-slider__card
                        img.reviews-card__img(src="/static/img/content/review/img1.png" alt="Картинка")
                        .review-card__user
                            a.review-card__social(href="/")
                                img(src="/static/img/general/vk.png" alt="Картинка")
                            .review-card__person
                                .review-person__name Андрей Жуков
                                .reveiw-person__city Череповец
                        .review-card__text Спасибо компании за поддержку и помощь. Рад, что не ошибся с выбором, ведь для меня в 20 лет заплатить сумму в 50000 рублей было не так просто, я очень напрягался на положительный результат. Теперь я двигаюсь вместе с вами, был клиентом, стал сотрудником компании, чему так же очень рад. Вместе мы поможем многим призывникам!
                    li.swiper-slide.reviews-slider__card
                        img.reviews-card__img(src="/static/img/content/review/img2.png" alt="Картинка")
                        .review-card__user
                            a.review-card__social(href="/")
                                img(src="/static/img/general/vk.png" alt="Картинка")
                            .review-card__person
                                .review-person__name Даниил Наумов
                                .reveiw-person__city Москва
                        .review-card__text Выражаю благодарность компании Повесток.нет. Более двух лет военкомат не хотел признавать мое заболевание, но с помощью направлений, консультаций и подсказок данной компании я все-таки получил заветный военный билет. В Повесток.нет я получал постоянное сопровождение и решение возникающих проблем.
                    li.swiper-slide.reviews-slider__card
                        img.reviews-card__img(src="/static/img/content/review/img3.png" alt="Картинка")
                        .review-card__user
                            a.review-card__social(href="/")
                                img(src="/static/img/general/vk.png" alt="Картинка")
                            .review-card__person
                                .review-person__name Андрей Жуков
                                .reveiw-person__city Череповец
                        .review-card__text Спасибо компании за поддержку и помощь. Рад, что не ошибся с выбором, ведь для меня в 20 лет заплатить сумму в 50000 рублей было не так просто, я очень напрягался на положительный результат. Теперь я двигаюсь вместе с вами, был клиентом, стал сотрудником компании, чему так же очень рад. Вместе мы поможем многим призывникам!
                    li.swiper-slide.reviews-slider__card
                        img.reviews-card__img(src="/static/img/content/review/img4.png" alt="Картинка")
                        .review-card__user
                            a.review-card__social(href="/")
                                img(src="/static/img/general/vk.png" alt="Картинка")
                            .review-card__person
                                .review-person__name Андрей Жуков
                                .reveiw-person__city Череповец
                        .review-card__text Спасибо компании за поддержку и помощь. Рад, что не ошибся с выбором, ведь для меня в 20 лет заплатить сумму в 50000 рублей было не так просто, я очень напрягался на положительный результат. Теперь я двигаюсь вместе с вами, был клиентом, стал сотрудником компании, чему так же очень рад. Вместе мы поможем многим призывникам!
                    li.swiper-slide.reviews-slider__card
                        img.reviews-card__img(src="/static/img/content/review/img1.png" alt="Картинка")
                        .review-card__user
                            a.review-card__social(href="/")
                                img(src="/static/img/general/vk.png" alt="Картинка")
                            .review-card__person
                                .review-person__name Андрей Жуков
                                .reveiw-person__city Череповец
                        .review-card__text Спасибо компании за поддержку и помощь. Рад, что не ошибся с выбором, ведь для меня в 20 лет заплатить сумму в 50000 рублей было не так просто, я очень напрягался на положительный результат. Теперь я двигаюсь вместе с вами, был клиентом, стал сотрудником компании, чему так же очень рад. Вместе мы поможем многим призывникам!
                .swiper-pagination
            a.button-3.min-w-429(href="/") Все отзывы
