section.see-also
    .container
        .see-also__wrapper
            .see-also__container
                .see-also__left
                    .sub-title Смотрите также
                .see-also__articles
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title О KОМПАНИИ
                            .see-article__desc Наши услуги включают в себя личное юридическое сопровождение
                        .see-article__link
                            +icon('arrow-right')

