section.mobile-app
    .container
        .mobile-app__wrapper
            .m-app__menu
                .m-menu__list
                    a.m-menu__item(href="/") Помощь призывникам
                    a.m-menu__item(href="/") Контакты
                    a.m-menu__item(href="/") Статьи
                    a.m-menu__item(href="/") Карта сайта
                    a.m-menu__item(href="/") Категории годности
                    a.m-menu__item(href="/") Расписание болезней
                    a.m-menu__item(href="/") Призыв 2023
            .m-app__text
                strong="Важно! "
                | Решение об освобождении, призыве на военную службу или предоставлении отсрочки от исполнения воинской обязанности принимается исключительно призывной комиссией. Ни одна другая организация не обладает такими полномочиями.
                br
                br
                | Сайт и наша компания не пропагандируют уклонение от военной службы и совершение действий, запрещенных действующим законодательством, так как это является нарушением ст. 21.5 КоАП РФ, а также ч.1 ст. 328 УК РФ.Все публикации и материалы, размещенные на сайте, носят исключительно информационный характер и не являются публичной офертой.
                br
                br
                | Компания занимается консультацией призывников в сфере военного права согласно действующему законодательству и не навязывает свои услуги.
                br
                br
                | Мы признаем, что защита Отечества является долгом и обязанностью гражданина РФ согласно ст. 59 Конституции РФ.
                br
                br
                | При использовании слова "законно" мы ссылаемся на ст. 23 ФЗ от 28.03.1998 N 53-ФЗ "О воинской обязанности и военной службе", в которой описаны условия для освобождения граждан от призыва на военную службу.
                br
                br
                | * при выявлении непризывного диагноза или других оснований, предусмотренных законодательством
            .m-app__main
                .m-main__left
                    h2.m-left__title Скачайте наше мобильное приложение
                    .m-left__desc И получите скидку 10%
                .m-main__right
                    a.m-main__link(href="/")
                        img(src="/static/img/general/apple.png")
                    a.m-main__link
                        img(src="/static/img/general/android.png")

