section.congratulations
    .container
        .congrat-wrapper
            h2.sub-title-3 Поздравляем с успешным и совершенно законным освобождением от срочной службы!
            .congrat-desc Мы были рады вам помочь
            +icon2('risk')