section.see-also.see-also__partners
    .container
        .see-also__wrapper
            .see-also__container
                .see-also__left
                    .sub-title Напоминаем, что в нашей компании действует агентская система
                .see-also__articles
                    a.see-article(href="/")
                        .see-article__text
                            .see-article__title ПАРТНЕРЫ
                            .see-article__desc Наши услуги включают в себя личное юридическое сопровождение
                        .see-article__link
                            +icon('arrow-right')

