section.job-over
    .container
        .site-reviews__wrapper
            .s-review__title Поделиться мнением о нашей работе можно здесь:
            .s-review__list
                a.s-review__item(href="/")
                    +icon2('yandex')
                a.s-review__item(href="/")
                    +icon2('gis')
                a.s-review__item(href="/")
                    +icon2('spr')
                a.s-review__item(href="/")
                    +icon2('yell')

