section.reviews-section
    .container
        .blog-wrapper
            h2.sub-title Отзывы реальных клиентов
            .sub-title__desc На сайте размещаем отзывы наших клиентов только с их согласия. С полным перечнем отзывов можно ознакомиться на бесплатной консультации с юристом по призыву.
