section.rating-site
    .container
        .site-reviews__wrapper
            .s-review__title Рейтинг Повесток.Нет на других сайтах
            .s-review__list
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('yandex')
                    .s-review__item-block
                        .s-review__item-rateyo
                        span 5.0
                    .s-review__item-bottom 85 отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('gis')
                    .s-review__item-block
                        .s-review__item-rateyo
                        span 5.0
                    .s-review__item-bottom 70+ отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('spr')
                    .s-review__item-block
                        .s-review__item-rateyo
                        span 5.0
                    .s-review__item-bottom 70+ отзывов
                a.s-review__item(href="/")
                    .s-review__item-top
                        +icon2('yell')
                    .s-review__item-block
                        .s-review__item-rateyo
                        span 5.0
                    .s-review__item-bottom 70+ отзывов