section.question-single
    .container
        .question-single__wrapper
            h2.sub-title Что делать с долгом по коммуналке семье военнослужащих
            .question-single__container
                .question-single__top
                    .themes-item__top
                        .themes-item__title Марина, 22 часа назад
                        .themes-item__desc Мой муж мобилизован. Из-за семейных проблем у нас накопились долги по коммунальным платежам. Понимаю, что нужно платить, но сумма за годы накопилась значительная, а тут еще постоянные текущие платежи. Что посоветуете? Можно ли списать предыдущие долги совсем?
                    .question-single__icon
                        +icon2('message-question')
                .question-single__bottom
                    .themes-item__bottom
                        .themes-item__profile
                            img(src="/static/img/general/profile.png" alt="Картинка")
                            .themes-profile__info
                                .themes-info__name Элина Камал
                                .themes-info__job юрист
                        .themes-item__desc Здравствуйте. Алевтина, правительство всячески помогает семьям мобилизованных, в том числе с прошлого года отменили начисление пеней и штрафов за несвоевременную оплату коммунальных услуг. В некоторых регионах долги и вовсе списывают. В вашей ситуации можете сделать следующее: попробовать списать долг по сроку исковой давности, попросить рассрочку, либо провести процедуру банкротства. Это поможет вам освободиться от долговых обязательств полностью.
                    .question-single__icon
                        +icon2('message')



