section.employer-practice
    .container
        .blog-articles.practice-articles
            .b-articles__title
                .b-articles__subtitle Статьи по теме
            .b-articles__list
                a.b-articles__item(href="/")
                    .b-articles__author
                        img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                        .b-articles__name Фенис Карама
                    .b-articles__title Осенний призыв 2023: сроки проведения и начало
                    .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                    .b-articles__data
                        .b-articles__info
                            +icon2('clock2')
                            span 2 мин
                        .b-articles__info
                            +icon2('eye')
                            span 83
                        .b-articles__info
                            +icon2('calendar-2')
                            span 02.10.2023
                a.b-articles__item(href="/")
                    .b-articles__author
                        img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                        .b-articles__name Фенис Карама
                    .b-articles__title Осенний призыв 2023: сроки проведения и начало
                    .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                    .b-articles__data
                        .b-articles__info
                            +icon2('clock2')
                            span 2 мин
                        .b-articles__info
                            +icon2('eye')
                            span 83
                        .b-articles__info
                            +icon2('calendar-2')
                            span 02.10.2023
                a.b-articles__item(href="/")
                    .b-articles__author
                        img.b-articles__logo(src="/static/img/general/profile.png" alt="Картинка")
                        .b-articles__name Фенис Карама
                    .b-articles__title Осенний призыв 2023: сроки проведения и начало
                    .b-articles__desc Я – юрист в компании «Повесток.Нет». Мы с коллегами специализируемся на «военно-призывных» вопросах. Сейчас я расскажу...
                    .b-articles__data
                        .b-articles__info
                            +icon2('clock2')
                            span 2 мин
                        .b-articles__info
                            +icon2('eye')
                            span 83
                        .b-articles__info
                            +icon2('calendar-2')
                            span 02.10.2023

            .button-3.min-w-429.employer-practice-load Загрузить еще