.article-main__wrapper
  display flex
  gap 28px
.article-main__sidebar
  display flex
  flex-direction column
  width 28.5%
.article-main__content
  width 71.5%
.article-main__widget
  display flex
  flex-direction column
  align-items center
  justify-content center
  background-color #fff
  border-radius 23px
  padding 50px 40px 66px 40px
  margin-bottom 28px
.article-widget__img
  size(209px)
  margin-bottom 12px
.article-widget__name
  font-family 'Montserrat',sans-serif
  font-size 24px
  font-weight 700
  margin-bottom 8px
.article-widget__job
  text-align center
  font-size 16px
  color #686868
  background-color #F4F4F4
  padding 5px
  height 37px
  max-width 206px
  width 100%
  border-radius 45px
  margin-bottom 34px
.article-test
  margin-bottom 28px
  background-color: #fff;
  border-radius: 23px;
  padding: 42px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .test-desc
    width 60%
.article-content
  background-color #fff
  border-radius 23px
  padding 42px 36px
  p
    font-size 18px
    color #3D3C3C
    padding-bottom 20px
  ul
    display list-item
  li
    display flex
    font-size 18px
    color #3D3C3C
    margin-bottom 16px
    &:before
      content ''
      display block
      border 3px solid #FF1F1F
      border-radius 50%
      size(12px)
      min-width 12px
      margin-right 12px
      margin-top 7px
.article-auto__widget
  position relative
  background-color #EDF1F2
  border-radius 23px
  padding 20px 120px 20px 36px
  margin-bottom 42px
  .see-article__link
    position absolute
    right 50px
    top 36px
    size(46px)
    background-color #fff
    .icon
      stroke #374349
.article-auto__tag
  text-align center
  background-color #fff
  border-radius 17px
  padding 7px 24px
  height 30px
  color #686868
  font-size 13px
  width max-content
  margin-bottom 18px
.article-auto__title
  font-size 22px
  font-family 'Montserrat',sans-serif
  font-weight 700
  color #3D3C3C
  line-height 1.2
  margin-bottom 12px
  text-transform uppercase
.article-auto__desc
  font-size 16px
  color #9F9F9F
.article-citate
  padding 40px 35px
  border-radius 23px
  background-color #F0F0F0
  margin-bottom 42px
.article-citate__desc
  font-size 20px
  font-family 'Montserrat',sans-serif
  font-weight 500
  font-style italic
  color #3D3C3C
  margin-bottom 8px
.article-citate__author
  font-size 18px
  color #9F9F9F
  text-align right
.article-widget__content
  display flex
  align-items center
  justify-content space-between
  width 100%
  cursor pointer
.article-widget__content-title
  font-family 'Montserrat',sans-serif
  font-size 24px
  font-weight 700
  color #373737
.article-widget__content-arrow
  display flex
  justify-content center
  align-items center
  border 1px solid #374349
  border-radius 50%
  size(32px)
  cursor pointer
  .icon
    size(10px)
    fill #374349
    transition ease .2s
    transform rotate(180deg)
.article-widget__content.active
  .icon
    transform rotate(0deg)
.article-content__widget
  display flex
  flex-direction column
  padding 30px 20px
  background-color #fff
  border-radius 23px
  gap 15px
.article-content__list
  margin-bottom 16px
  &:last-child
    margin-bottom 0
.article-content__item-depth1
  font-size 14px
  color #1C1C1C
  font-family 'Montserrat',sans-serif
  font-weight 600
  cursor pointer
.article-content__item-depth2
  font-size 13px
  color #6B6B6B
  font-weight 400
  cursor pointer
.article-widget__fixed
  height 100%
  .article-mobile__widget
    display: block;
    position: sticky;
    top: 120px;
    margin-bottom 30px
.article-content
  .tar-left
    width 100%
    margin-right 0
.article-main__sidebar
  .article-content__widget
    &:last-child
      margin-bottom 0
  .tar-right__rating
    margin 0 auto
  .tar-right__button
    min-width 100%
    font-weight 400



