.reviews-2
  overflow hidden
.reviews-2-slider
  margin-bottom 30px
  .swiper-wrapper
    align-items stretch
  .b-articles__item
    min-height 100%
    height auto
  .b-articles__desc
    margin-bottom 40px