.tar-wrapper
  display flex
.tar-tags__list
  display flex
  flex-wrap wrap
  gap 12px
.tar-left
  width 28.5%
  margin-right 28px
.tar-right
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 71.5%
  background-color #fff
  border-radius 23px
  padding 30px
.tar-left__title
  font-size 24px
  font-family 'Montserrat',sans-serif
  font-weight 600
  margin-bottom 21px
  color #323232
.tar-tags__item
  font-size 15px
  font-family 'Montserrat',sans-serif
  font-weight 400
  color #3D3C3C
  padding 10px 16px
  background-color #E7E7E7
  height 42px
  border-radius 62px
.tar-right__title
  font-size 24px
  font-weight 700
  font-family 'Montserrat',sans-serif
  color #2F2D2D
  margin-bottom 27px
.tar-right__rating
  margin-bottom 28px
