.article
  padding-top 0
.article-baner
  padding-top 0
.article-wrapper
  position relative
  display flex
  background-color: #fff;
  border-radius: 39px;
  padding: 42px 36px 36px 36px;
  .offer-desc
    font-size 20px
  .offer-info
    margin-right 0
.article-icon
  padding-right 100px
  .icon
    size(310px)
.article-info
  padding-right 40px
.article-share
  position absolute
  display flex
  justify-content center
  align-items center
  right 57px
  top 36px
  size(48px)
  background-color #F5F5F5
  border-radius 11px
  cursor pointer
  transition ease .2s
  &:hover
    background-color #E0202B
    .icon
      fill #fff
  .icon
    size(22px)
    fill #E0202B
    transition ease .2s
