.practice
  overflow hidden
.practice-slider
  .swiper-wrapper
    align-items stretch
  .b-articles__item
    min-height 100%
    padding 20px
    height auto
    justify-content normal
  .b-articles__desc
    margin-bottom 0
    font-size 14px
  .b-articles__title
    font-size 20px