.practice
  overflow hidden
.practice-slider
  .b-articles__item
    min-height 100%
    padding 20px
  .b-articles__desc
    margin-bottom 0
    font-size 14px
  .b-articles__title
    font-size 20px