section.job-over2-see-also
    .container
        .see-also__wrapper
            .see-also__container
                .see-also__left.job-over2__left
                    .sub-title Также предлагаем вам ознакомиться с нашими эксклюзивными материалами для призывников:
                .job-over2__also-list
                    a.job-over2__also-item(href="/" download)
                        .job-over2__item--tag чек-лист
                        .job-over2__item--desc 8 самых частых болезней, по которым наши клиенты получают военный билет
                        .job-over2__item--download
                            span PDF
                            span (388 КБ)
                    a.job-over2__also-item(href="/" download)
                        .job-over2__item--tag чек-лист
                        .job-over2__item--desc 8 самых частых болезней, по которым наши клиенты получают военный билет
                        .job-over2__item--download
                            span PDF
                            span (388 КБ)
