section.congratulations-2
    .container
        .congrat-wrapper
            h2.sub-title-3 Поздравляем с правильным выбором!
            .congrat-desc В ближайшее время вам позвонит наш оператор, пожалуйста, не забудьте ответить на наш звонок.
            +icon2('chat-square')