.question-single__container
  .themes-item__bottom
    padding 35px
    padding-right 150px
  .themes-item__desc
    margin-bottom 0
  .themes-item__top
    background-color #e7e7e7
    border-radius 23px
    padding 35px
    padding-right 150px
.question-single__top
  margin-bottom 20px
  position relative
.question-single__bottom
  position relative
.question-single__icon
  position absolute
  right 35px
  top 20px
  .icon
    size(84px)
.questions-themes
  .button-2
    font-weight 400
    span
      margin-right 10px
  .whatsapp-share
    display flex
    justify-content center
    align-items center
    size(30px)
    border-radius 50%
  .icon
    size(20px)
    fill #fff
  .icon-close
    fill #000
.question-single__baner
  margin-bottom 100px
.question-single
  padding-top 0
.themes-container
  .b-articles__title
    font-size 32px
    span
      margin-left 15px