section.contacts-info
    .container
        .contacts-wrapper
            h2.sub-title Контакты
            .contacts-grid
                .contacts-block
                    .contacts-icon
                        +icon2('phone2')
                    .contacts-title Единый номер
                    .contacts-desc 8 800 600-31-58
                .contacts-block
                    .contacts-icon
                        +icon2('clock4')
                    .contacts-title Режим работы
                    .contacts-desc Пн-Пт 9:00-18:00
                .contacts-block
                    .contacts-icon
                        +icon2('phone2')
                    .contacts-title Почта
                    .contacts-desc povestoknet@mail.ru
                .contacts-block
                    .contacts-messengers
                        a.contacts-mess.telegra-share(href="/")
                            +icon('telegram')
                        a.contacts-mess.vk-share(href="/")
                            +icon('vk')
                        a.contacts-mess.whatsapp-share(href="/")
                            +icon('whatsapp')
                    .contacts-mess__title Мессенджеры


