section.rule-content
    .container
        .rule-content__wrapper
            h2.sub-title-2 Содержание
            .blog-search
                .b-search__input.input-block__js
                    input.input-value(type="text" placeholder="Поиск статьи")
                    .b-search__button
                        +icon('search')
                    .b-delete__button
                        +icon('close')
            .rule-content__list
                .rule-content__item
                    .rule-content__top
                        .rule-content__top-l
                            .rule-content__top-l__flex
                                .rule-content__name Глава 1
                                .rule-content__article статьи 1 – 7
                            .rule-content__desc Инфекционные и паразитарные болезни
                        .rule-content__icon
                            +icon('plus')
                            +icon('minus')
                    .rule-content__bottom
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 1
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 2
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 3
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                .rule-content__item
                    .rule-content__top
                        .rule-content__top-l
                            .rule-content__top-l__flex
                                .rule-content__name Глава 2
                                .rule-content__article статьи 1 – 7
                            .rule-content__desc Инфекционные и паразитарные болезни
                        .rule-content__icon
                            +icon('plus')
                            +icon('minus')
                    .rule-content__bottom
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 1
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 2
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 3
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                .rule-content__item
                    .rule-content__top
                        .rule-content__top-l
                            .rule-content__top-l__flex
                                .rule-content__name Глава 3
                                .rule-content__article статьи 1 – 7
                            .rule-content__desc Инфекционные и паразитарные болезни
                        .rule-content__icon
                            +icon('plus')
                            +icon('minus')
                    .rule-content__bottom
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 1
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 2
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')
                        .rule-content__bottom-item
                            .rule-content__bottom-l
                                .rule-content__bottom-name Статья 3
                                .rule-content__bottom-desc Кишечные инфекции, бактериальные зоонозы, другие бактериальные болезни, вирусные болезни, сопровождающиеся высыпаниями, вирусные и другие болезни, передаваемые членистоногими
                            .rule-content__bottom-icon
                                +icon('arrow-right')



