section.rule-time
    .container
        .rule-time__wrapper
            h2.sub-title Расписание болезней 2023
            .sub-title__desc Зачастую призывники часто спрашивают меня о заболеваниях, которые дают основания для отсрочки или полного освобождения от службы в армии.
            .rule-time__tag Действующая редакция от 02.10.2023
            .rule-time__container
                .rule-time__left
                    img.article-widget__img(src="/static/img/general/img5.png" alt="Картинка")
                    .article-widget__name Азат Мингалеев
                    .article-widget__job старший юрист
                    .button-whatsapp
                        span Написать в WhatsApp
                        .article-widget__whatsapp
                            +icon('whatsapp')
                .rule-time__right
                    blockquote
                        | Все заболевания указаны в постановлении Правительства РФ от 04.07.2013 N 565 «Об утверждении Положения о военно-врачебной экспертизе», однако текст этого закона нужно уметь читать.
                        br
                        br
                        | Чтобы вам было проще разобраться, какие заболевания дают основания не служить, мы перечислили эти заболевания в упрощённом виде со ссылками на подробный разбор заболевания.
                        br
                        br
                        | Также вы можете воспользоваться нашим тестом, чтобы понять, есть ли у вас основания для освобождения от службы по призыву
