.practice-baner__wrapper
  background-color #949CA0
  padding 55px 150px 39px 150px
  border-radius 39px
.p-baner__title
  text-align center
  font-family 'Montserrat',sans-serif
  font-size 36px
  margin-bottom 26px
  font-weight 700
  color #fff
.p-baner__desc
  text-align center
  font-size 20px
  color #fff
  margin-bottom 29px
.practice-baner__wrapper
  .b-articles__data
    justify-content center
.practice-baner
  padding-top 0